In [25]:
import pandas as pd
import numpy as np

columns = [
    "제원관리번호", "차종명", "차종유형명", "차종분류명", "원동기형식명", "형식명", "배기량", "승차정원수", "최대적재량",
    "차명", "모델연도", "사용연료명", "국산수입구분명", "차대차체형상명", "차체길이", "차체너비", "차체높이",
    "축간거리", "전윤간거리", "후윤간거리", "변속기종류명", "제원모델년도", "차량등록번호", "차대번호", "등록관청명",
    "용도구분명", "신청구분명", "등록일", "이전등록구분명", "등록상세명", "매매상품구분명", "변경전등록상세명",
    "변경전매매상품구분명", "최초등록일", "제작년월일", "회원구분명", "회원등록번호", "사용본거지주소명", "소유자주소명",
    "취득금액", "주행거리", "변경전회원구분명", "변경전회원등록번호", "변경전사용본거지주소명",
    "원동기최고출력", "연료소비율", "차량중량", "차량총중량", "최초제원관리번호", "원동기RPM값", "타이어전전형식",
    "타이어전후형식", "타이어후전형식", "타이어후중형식", "타이어후후형식", "구동방식코드", "최초취득금액"
]

In [26]:
# 2024
file_path1 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202401.TXT"
file_path2 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202402.TXT"
file_path3 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202403.TXT"
file_path4 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202404.TXT"
file_path5 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202405.TXT"
file_path6 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\6월\\2.이전등록\\TRANSR_REGIST_202406.TXT"
file_path7 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\7월\\A10_TRANSR_REGIST.TXT"
file_path8 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\8월\\(이전)_TRANSR_REGIST.TXT"
file_path9 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\9월\\자동차\\A10_TRANSR_REGIST.TXT"
file_path10 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\10월\\A10_TRANSR_REGIST.TXT"
file_path11 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\11월\\A10_TRANSR_REGIST.TXT"
file_path12 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\12월\\TRANSR_REGIST_12.TXT"

df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

df24 = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

for i, df in enumerate(df24, start=1):
    df.columns = columns
    df['년도'] = 2024
    df['월'] = i

C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:15: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:16: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:17: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:18: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:19: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:20: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:21: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:22: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:23: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:24: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:25: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\2185706512.py:26: DtypeWarning: Columns (44,48,49,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

In [27]:
# 2025
file_path251 = "N:\\nahr\\교통안전공단\\공공Data\\2025\\오토플러스_신규이전_25.1\\이전\\A10_TRANSR_REGIST.TXT"
df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')
df252 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 2월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df253 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 3월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df254 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 4월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df255 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 5월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df256 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 6월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df257 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 7월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df258 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 8월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df259 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 9월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df2510 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 10월 신규_이전 데이터.xlsx", sheet_name= 'A10_TRANSR')

df25 = [df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510]

for i, df in enumerate(df25, start=1):
    df.columns = columns
    df['년도'] = 2025
    df['월'] = i

C:\Users\24100801\AppData\Local\Temp\ipykernel_31828\99763713.py:3: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')

In [28]:
df255

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액,년도,월
0,A0810009200531214,승용,다목적,중형,D4HA,DM7UBD-T,1995.0,7.0,0.0,싼타페(SANTAFE),...,4000,P235/60R18,NaN,P235/60R18,NaN,NaN,NaN,30900000.0,2025,5
1,A0810009200641214,승용,다목적,중형,D4HA,DM5UBD-T,1995.0,5.0,0.0,싼타페(SANTAFE),...,4000,P235/60R18,NaN,P235/60R18,NaN,NaN,NaN,19600000.0,2025,5
2,A0810009200531214,승용,다목적,중형,D4HA,DM7UBD-T,1995.0,7.0,0.0,싼타페(SANTAFE),...,4000,P235/60R18,NaN,P235/60R18,NaN,NaN,NaN,28800000.0,2025,5
3,A0810009200641214,승용,다목적,중형,D4HA,DM5UBD-T,1995.0,5.0,0.0,싼타페(SANTAFE),...,4000,P235/60R18,NaN,P235/60R18,NaN,NaN,NaN,27300000.0,2025,5
4,A0810009200641214,승용,다목적,중형,D4HA,DM5UBD-T,1995.0,5.0,0.0,싼타페(SANTAFE),...,4000,P235/60R18,NaN,P235/60R18,NaN,NaN,NaN,27900000.0,2025,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312218,A0110004801221414,승용,일반,경형,G3LA,TA51BG-S,998.0,5.0,0.0,모닝,...,6200,155/70R13,NaN,155/70R13,NaN,NaN,NaN,11900000.0,2025,5
312219,A0110004801221414,승용,일반,경형,G3LA,TA51BG-S,998.0,5.0,0.0,모닝,...,6200,155/70R13,NaN,155/70R13,NaN,NaN,NaN,11400000.0,2025,5
312220,A0110004801221414,승용,일반,경형,G3LA,TA51BG-S,998.0,5.0,0.0,모닝,...,6200,155/70R13,NaN,155/70R13,NaN,NaN,NaN,12200000.0,2025,5
312221,A0110004801221414,승용,일반,경형,G3LA,TA51BG-S,998.0,5.0,0.0,모닝,...,6200,155/70R13,NaN,155/70R13,NaN,NaN,NaN,11600000.0,2025,5
312222,A0110004801221414,승용,일반,경형,G3LA,TA51BG-S,998.0,5.0,0.0,모닝,...,6200,155/70R13,NaN,155/70R13,NaN,NaN,NaN,11600000.0,2025,5

In [29]:
# df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)         # 2024년도
# df = pd.concat([df251, df252, df253, df254, df255, df256, df257, df258], ignore_index=True)            # 2025년도
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510], ignore_index=True)      #전체
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7159135 entries, 0 to 7159134
Data columns (total 59 columns):
 #   Column       Dtype
---  ------       -----
 0   제원관리번호       object
 1   차종명          object
 2   차종유형명        object
 3   차종분류명        object
 4   원동기형식명       object
 5   형식명          object
 6   배기량          float64
 7   승차정원수        float64
 8   최대적재량        float64
 9   차명           object
 10  모델연도         int64
 11  사용연료명        object
 12  국산수입구분명      object
 13  차대차체형상명      object
 14  차체길이         float64
 15  차체너비         float64
 16  차체높이         float64
 17  축간거리         float64
 18  전윤간거리        float64
 19  후윤간거리        float64
 20  변속기종류명       object
 21  제원모델년도       float64
 22  차량등록번호       object
 23  차대번호         object
 24  등록관청명        object
 25  용도구분명        object
 26  신청구분명        object
 27  등록일          int64
 28  이전등록구분명      object
 29  등록상세명        object
 30  매매상품구분명      object
 31  변경전등록상세명     object
 32  변경전매매상품구분명   object
 33  최초등록일        int64
 34  제작년월일        float64
 35  회원구분명        object
 36  회원등록번호       object
 37  사용본거지주소명     object
 38  소유자주소명       object
 39  취득금액         int64
 40  주행거리         float64
 41  변경전회원구분명     object
 42  변경전회원등록번호    object
 43  변경전사용본거지주소명  object
 44  원동기최고출력      object
 45  연료소비율        float64
 46  차량중량         float64
 47  차량총중량        float64
 48  최초제원관리번호     object
 49  원동기RPM값      object
 50  타이어전전형식      object
 51  타이어전후형식      object
 52  타이어후전형식      object
 53  타이어후중형식      object
 54  타이어후후형식      object
 55  구동방식코드       object
 56  최초취득금액       float64
 57  년도           int64
 58  월            int64
dtypes: float64(16), int64(6), object(37)
memory usage: 3.1+ GB

In [30]:
df

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액,년도,월
0,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,6300.0,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,36200000.0,2024,1
1,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,6300.0,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,36000000.0,2024,1
2,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,6300.0,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,34300000.0,2024,1
3,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,6300.0,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,26400000.0,2024,1
4,02620000400011315,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,6300.0,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,34500000.0,2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7159130,A0810006213033113,화물,일반형-카고,소형,D4CB,HRLKAH,2497.0,3.0,1000.0,포터Ⅱ (PORTERⅡ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,14900000.0,2025,10
7159131,A0810006213033113,화물,일반형-카고,소형,D4CB,HRLKAH,2497.0,3.0,1000.0,포터Ⅱ (PORTERⅡ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,13400000.0,2025,10
7159132,A0810006213033113,화물,일반형-카고,소형,D4CB,HRLKAH,2497.0,3.0,1000.0,포터Ⅱ (PORTERⅡ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,12800000.0,2025,10
7159133,A0810006213033113,화물,일반형-카고,소형,D4CB,HRLKAH,2497.0,3.0,750.0,포터Ⅱ (PORTERⅡ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,12600000.0,2025,10
7159134,A0810006213033113,화물,일반형-카고,소형,D4CB,HRLKAH,2497.0,3.0,1000.0,포터Ⅱ (PORTERⅡ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,13400000.0,2025,10

In [31]:
org = df.groupby(['월']).agg(
    count=('월', 'count')  # '월' 열에 대한 카운트
)

org

     count
월
1   628671
2   629087
3   694051
4   696818
5   650617
6   625731
7   712956
8   623364
9   636673
10  633777
11  310442
12  316948

In [32]:
df[df['이전등록구분명'].isna()]['월']

1335575    5
1653966    5
1737842    6
5525997    6
5526077    6
          ..
6510187    8
6510188    8
6510189    8
6510190    8
6510207    8
Name: 월, Length: 3643, dtype: int64

In [33]:
conditions = [
   (df['이전등록구분명'] == '당사자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['이전등록구분명'] == '매매업자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   ((df['이전등록구분명'] == '기타이전') | (df['이전등록구분명'] == '상속이전') | (df['이전등록구분명'] == '증여이전') | (df['이전등록구분명'] == '촉탁이전')) & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] !='상품용'),
   (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] !='상품용')
]

values = ['개인거래', '알선', '기타', '매도', '매입']

df['이전등록유형'] = np.select(conditions, values, default='상사이전')

In [34]:
df['중고차시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선', '개인거래']))
).astype(int)
df['유효시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선']))
).astype(int)

In [35]:
df['이전등록유형']

0            매입
1            매입
2            매도
3            매도
4            매도
           ...
7159130    개인거래
7159131      매입
7159132      매도
7159133      매입
7159134      매입
Name: 이전등록유형, Length: 7159135, dtype: object

In [36]:
pivot = df.pivot_table(
    index='이전등록유형',
    columns='월',
    aggfunc='size',
    fill_value=0
)

pivot.loc['합계'] = pivot.sum(numeric_only=True)

pivot

월,1,2,3,4,5,6,7,8,9,10,11,12
이전등록유형,,,,,,,,,,,,
개인거래,217115,210194,225195,223626,214806,201311,230386,198683,200025,200146,102340,107789
기타,11966,12370,12467,12450,11910,11551,12462,11526,11032,11080,5654,6099
매도,167862,173438,188012,185975,168119,162166,189575,171986,171183,163215,76622,78496
매입,199681,201179,230133,234973,220507,214786,240006,207320,218135,223228,107991,106852
상사이전,30078,30021,36058,37658,33213,33929,38419,32016,34483,34294,16769,16542
알선,1969,1885,2186,2136,2062,1988,2108,1833,1815,1814,1066,1170
합계,628671,629087,694051,696818,650617,625731,712956,623364,636673,633777,310442,316948

In [37]:
# 취득금액별로 그룹핑
bins = [0, 10000000, 20000000, 30000000, 40000000, 60000000, 80000000, 100000000, float('inf')]
labels = ['~1천만원', '~2천만원', '~3천만원', '~4천만원', '~6천만원', '~8천만원', '~1억원', '1억원 초과']

df['취득금액_범위'] = pd.cut(df['취득금액'], bins=bins, labels=labels, right=True)
df['취득금액_범위'] = df['취득금액_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['취득금액_범위'] = df['취득금액_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['취득금액_범위']

0          ~1천만원
1          ~1천만원
2          ~1천만원
3          ~1천만원
4          ~1천만원
           ...
7159130    ~1천만원
7159131    ~1천만원
7159132    ~1천만원
7159133    ~1천만원
7159134    ~1천만원
Name: 취득금액_범위, Length: 7159135, dtype: category
Categories (9, object): ['~1천만원' < '~2천만원' < '~3천만원' < '~4천만원' ... '~8천만원' < '~1억원' < '1억원 초과' < '데이터없음']

In [38]:
# 주행거리별로 그룹핑
bins = [0, 10000, 20000, 40000, 60000, 80000, 100000, 120000, 140000, 160000, 180000, 200000, float('inf')]
labels = ['~1만km', '~2만km', '~4만km', '~6만km', '~8만km', '~10만km', '~12만km', '~14만km', '~16만km', '~18만km', '~20만km', '20만km초과']

df['주행거리_범위'] = pd.cut(df['주행거리'], bins=bins, labels=labels, right=True)
df['주행거리_범위'] = df['주행거리_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['주행거리_범위'] = df['주행거리_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['주행거리_범위']

0           ~14만km
1           ~12만km
2           ~14만km
3           ~10만km
4          20만km초과
            ...
7159130    20만km초과
7159131     ~16만km
7159132     ~14만km
7159133     ~16만km
7159134     ~14만km
Name: 주행거리_범위, Length: 7159135, dtype: category
Categories (13, object): ['~1만km' < '~2만km' < '~4만km' < '~6만km' ... '~18만km' < '~20만km' < '20만km초과' < '데이터없음']

In [39]:
df.loc[df['회원구분명'] == '법인및사업자', '회원등록번호'] = '법인및사업자'

df[['나이', '성별']] = df['회원등록번호'].str.split(' ', expand=True)

print(df[['나이','성별']])
print(df['나이'].value_counts())

             나이    성별
0        법인및사업자  None
1           50대    남자
2           40대    남자
3           50대    남자
4           70대    여자
...         ...   ...
7159130     60대    남자
7159131     70대    남자
7159132     70대    남자
7159133     60대    여자
7159134  법인및사업자  None

[7159135 rows x 2 columns]
나이
법인및사업자    1938424
40대       1468032
50대       1416123
30대        978341
60대        779081
20대        345494
70대        203948
80대         24755
10대          2514
90대          2418
Name: count, dtype: int64

In [40]:
df['사용본거지주소명'] = df['사용본거지주소명'].replace({
    '인천광역시 남구': '인천광역시 미추홀구',
    '경상남도 마산시': '경상남도 창원시',
    '충청남도 당진군': '충청남도 당진시',
    '충청남도 연기군': '세종특별자치시 세종특별자치시'
})

# 공백 정리: 연속된 공백을 하나의 공백으로 변환
df['사용본거지주소명'] = df['사용본거지주소명'].str.replace(r'\s+', ' ', regex=True).str.strip()
df['사용본거지주소명'] = df['사용본거지주소명'].str.strip()
df_split = df['사용본거지주소명'].str.split(' ', expand=True)

# 각 부분을 새로운 열로 추가 (열 이름 지정 가능)
df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
df['시/도'] = df['시/도'].replace('전라북도', '전북특별자치도')
df['시/도'] = df['시/도'].replace('강원도', '강원특별자치도')

In [41]:
# 기본값 기타연료
df['사용연료'] = '기타'

# 가솔린
df.loc[df['사용연료명'].str.contains('휘발유', na=False), '사용연료'] = '가솔린'

# 디젤
df.loc[df['사용연료명'].str.contains('경유', na=False), '사용연료'] = '디젤'

# 전기
df.loc[df['사용연료명'].str.contains('전기|수소전기', na=False), '사용연료'] = '전기'

# 하이브리드
df.loc[df['사용연료명'].str.contains('하이브리드', na=False), '사용연료'] = '하이브리드'

# LPG
df.loc[df['사용연료명'].str.contains('LPG|엘피지', na=False), '사용연료'] = 'LPG'

In [42]:
df.groupby(['년도', '월']).size().reset_index(name='건수')

      년도   월      건수
0   2024   1  342559
1   2024   2  299164
2   2024   3  343242
3   2024   4  349482
4   2024   5  338394
5   2024   6  308055
6   2024   7  353619
7   2024   8  311208
8   2024   9  290390
9   2024  10  336078
10  2024  11  310442
11  2024  12  316948
12  2025   1  286112
13  2025   2  329923
14  2025   3  350809
15  2025   4  347336
16  2025   5  312223
17  2025   6  317676
18  2025   7  359337
19  2025   8  312156
20  2025   9  346283
21  2025  10  297699

In [43]:
df = df[['차종명', '차종분류명', '사용연료', '국산수입구분명', '차대번호', '년도', '월', '이전등록유형', '중고차시장', '유효시장', '취득금액_범위', '주행거리', '주행거리_범위', '나이', '성별', '시/도', '구/군']]
df.to_csv('C:/Users/24100801/Desktop/output.csv', index=False, encoding='utf-8-sig')