In [76]:
import pandas as pd
import numpy as np

columns = [
    "제원관리번호", "차종명", "차종유형명", "차종분류명", "원동기형식명", "형식명", "배기량", "승차정원수", "최대적재량",
    "차명", "모델연도", "사용연료명", "국산수입구분명", "차대차체형상명", "차체길이", "차체너비", "차체높이",
    "축간거리", "전윤간거리", "후윤간거리", "변속기종류명", "제원모델년도", "차량등록번호", "차대번호", "등록관청명",
    "용도구분명", "신청구분명", "등록일", "이전등록구분명", "등록상세명", "매매상품구분명", "변경전등록상세명",
    "변경전매매상품구분명", "최초등록일", "제작년월일", "회원구분명", "회원등록번호", "사용본거지주소명", "소유자주소명",
    "취득금액", "주행거리", "변경전회원구분명", "변경전회원등록번호", "변경전사용본거지주소명",
    "원동기최고출력", "연료소비율", "차량중량", "차량총중량", "최초제원관리번호", "원동기RPM값", "타이어전전형식",
    "타이어전후형식", "타이어후전형식", "타이어후중형식", "타이어후후형식", "구동방식코드", "최초취득금액"
]

In [77]:
# 2024
file_path1 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202401.TXT"
file_path2 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202402.TXT"
file_path3 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202403.TXT"
file_path4 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202404.TXT"
file_path5 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202405.TXT"
file_path6 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\6월\\2.이전등록\\TRANSR_REGIST_202406.TXT"
file_path7 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\7월\\A10_TRANSR_REGIST.TXT"
file_path8 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\8월\\(이전)_TRANSR_REGIST.TXT"
file_path9 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\9월\\자동차\\A10_TRANSR_REGIST.TXT"
file_path10 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\10월\\A10_TRANSR_REGIST.TXT"
file_path11 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\11월\\A10_TRANSR_REGIST.TXT"
file_path12 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\12월\\TRANSR_REGIST_12.TXT"

df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

df24 = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

for i, df in enumerate(df24, start=1):
    df.columns = columns
    df['년도'] = 2024
    df['월'] = i

C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:15: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:16: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:17: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:18: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:19: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:20: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:21: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:22: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:23: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:24: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:25: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2185706512.py:26: DtypeWarning: Columns (44,48,49,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

In [78]:
# 2025
file_path251 = "N:\\nahr\\교통안전공단\\공공Data\\2025\\오토플러스_신규이전_25.1\\이전\\A10_TRANSR_REGIST.TXT"
df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')
df252 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 2월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df253 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 3월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df254 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 4월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df255 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 5월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df256 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 6월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df257 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 7월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df258 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 8월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df259 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 9월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df2510 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 10월 신규_이전 데이터.xlsx", sheet_name= 'A10_TRANSR')
df2511 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 11월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR')
df2512 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 12월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR')

df25 = [df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511, df2512]

for i, df in enumerate(df25, start=1):
    df.columns = columns
    df['년도'] = 2025
    df['월'] = i
    df['분기'] = (i - 1) // 3 + 1

C:\Users\24100801\AppData\Local\Temp\ipykernel_464\2129699701.py:3: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')

In [79]:
df2512

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액,년도,월,분기
0,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,57100000.0,2025,12,4
1,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,56000000.0,2025,12,4
2,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,54000000.0,2025,12,4
3,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,54000000.0,2025,12,4
4,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,49400000.0,2025,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346352,2420004900101210,승용,일반,중형,CFG,1K,1968.0,5.0,0.0,Golf GTD,...,225/45R17,NaN,225/45R17,NaN,NaN,NaN,38000000.0,2025,12,4
346353,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30200000.0,2025,12,4
346354,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30800000.0,2025,12,4
346355,2420004900121210,승용,일반,중형,CCZ,1K,1984.0,5.0,0.0,Golf GTI,...,225/40R18,NaN,225/40R18,NaN,NaN,NaN,37900000.0,2025,12,4
346356,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30800000.0,2025,12,4

In [80]:
# df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)         # 2024년도
df = pd.concat([df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511, df2512], ignore_index=True)            # 2025년도
# df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511, df2512], ignore_index=True)      #전체
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3915916 entries, 0 to 3915915
Data columns (total 60 columns):
 #   Column       Dtype
---  ------       -----
 0   제원관리번호       object
 1   차종명          object
 2   차종유형명        object
 3   차종분류명        object
 4   원동기형식명       object
 5   형식명          object
 6   배기량          float64
 7   승차정원수        float64
 8   최대적재량        float64
 9   차명           object
 10  모델연도         int64
 11  사용연료명        object
 12  국산수입구분명      object
 13  차대차체형상명      object
 14  차체길이         float64
 15  차체너비         float64
 16  차체높이         float64
 17  축간거리         float64
 18  전윤간거리        float64
 19  후윤간거리        float64
 20  변속기종류명       object
 21  제원모델년도       float64
 22  차량등록번호       object
 23  차대번호         object
 24  등록관청명        object
 25  용도구분명        object
 26  신청구분명        object
 27  등록일          int64
 28  이전등록구분명      object
 29  등록상세명        object
 30  매매상품구분명      object
 31  변경전등록상세명     object
 32  변경전매매상품구분명   object
 33  최초등록일        int64
 34  제작년월일        float64
 35  회원구분명        object
 36  회원등록번호       object
 37  사용본거지주소명     object
 38  소유자주소명       object
 39  취득금액         float64
 40  주행거리         float64
 41  변경전회원구분명     object
 42  변경전회원등록번호    object
 43  변경전사용본거지주소명  object
 44  원동기최고출력      object
 45  연료소비율        float64
 46  차량중량         float64
 47  차량총중량        float64
 48  최초제원관리번호     object
 49  원동기RPM값      object
 50  타이어전전형식      object
 51  타이어전후형식      object
 52  타이어후전형식      object
 53  타이어후중형식      object
 54  타이어후후형식      object
 55  구동방식코드       object
 56  최초취득금액       float64
 57  년도           int64
 58  월            int64
 59  분기           int64
dtypes: float64(17), int64(6), object(37)
memory usage: 1.8+ GB

In [81]:
df

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액,년도,월,분기
0,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),64500000.0,2025,1,1
1,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),64500000.0,2025,1,1
2,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),88300000.0,2025,1,1
3,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),69200000.0,2025,1,1
4,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),63300000.0,2025,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3915911,2420004900101210,승용,일반,중형,CFG,1K,1968.0,5.0,0.0,Golf GTD,...,225/45R17,NaN,225/45R17,NaN,NaN,NaN,38000000.0,2025,12,4
3915912,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30200000.0,2025,12,4
3915913,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30800000.0,2025,12,4
3915914,2420004900121210,승용,일반,중형,CCZ,1K,1984.0,5.0,0.0,Golf GTI,...,225/40R18,NaN,225/40R18,NaN,NaN,NaN,37900000.0,2025,12,4
3915915,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30800000.0,2025,12,4

In [82]:
org = df.groupby(['월']).agg(
    count=('월', 'count')  # '월' 열에 대한 카운트
)

org

     count
월
1   286112
2   329923
3   350809
4   347336
5   312223
6   317676
7   359337
8   312156
9   346283
10  297699
11  310005
12  346357

In [83]:
df[df['이전등록구분명'].isna()]['월']

1626416    6
1626496    6
1626968    6
1627174    6
1627222    6
          ..
2610606    8
2610607    8
2610608    8
2610609    8
2610626    8
Name: 월, Length: 3640, dtype: int64

In [84]:
conditions = [
   (df['이전등록구분명'] == '당사자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['이전등록구분명'] == '매매업자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   ((df['이전등록구분명'] == '기타이전') | (df['이전등록구분명'] == '상속이전') | (df['이전등록구분명'] == '증여이전') | (df['이전등록구분명'] == '촉탁이전')) & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] !='상품용'),
   (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] !='상품용')
]

values = ['개인거래', '알선', '기타', '매도', '매입']

df['이전등록유형'] = np.select(conditions, values, default='상사이전')

In [85]:
df['중고차시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선', '개인거래']))
).astype(int)
df['유효시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선']))
).astype(int)

In [86]:
piv = df.groupby('월').agg(
    중고차시장_건수=('중고차시장', 'sum'),
    유효시장_건수=('유효시장', 'sum')
)

piv

    중고차시장_건수  유효시장_건수
월
1     190209    90467
2     215499   106300
3     226304   113053
4     219815   109525
5     197251    95578
6     201194   102036
7     228872   114643
8     200142   101603
9     218226   111929
10    186388    94384
11    189904    94187
12    214206   102393

In [87]:
df11=df.pivot_table(
    index='월',
    columns='이전등록유형',
    values='년도',      # 아무 컬럼이나 가능
    aggfunc='count'
)

df11

이전등록유형    개인거래    기타     매도      매입   상사이전   알선
월
1        99742  5423  74903   90480  14797  767
2       109199  6389  89160  108035  16362  778
3       113251  6441  92152  118064  19994  907
4       110290  6342  87818  121179  20922  785
5       101673  5907  78415  109065  16396  767
6        99158  6030  83114  110452  18129  793
7       114229  6285  94103  124180  19769  771
8        98539  5754  84193  106260  16683  727
9       106297  5919  90892  122138  20266  771
10       92004  5055  77158  106256  16555  671
11       95717  5411  74163  114690  19268  756
12      111813  6248  80236  125903  21474  683

In [88]:
df['이전등록유형']

0          개인거래
1          개인거래
2            매도
3            매도
4            매입
           ...
3915911    개인거래
3915912    개인거래
3915913      매입
3915914      매입
3915915      매입
Name: 이전등록유형, Length: 3915916, dtype: object

In [89]:
pivot = df.pivot_table(
    index='이전등록유형',
    columns='월',
    aggfunc='size',
    fill_value=0
)

pivot.loc['합계'] = pivot.sum(numeric_only=True)

pivot

월,1,2,3,4,5,6,7,8,9,10,11,12
이전등록유형,,,,,,,,,,,,
개인거래,99742,109199,113251,110290,101673,99158,114229,98539,106297,92004,95717,111813
기타,5423,6389,6441,6342,5907,6030,6285,5754,5919,5055,5411,6248
매도,74903,89160,92152,87818,78415,83114,94103,84193,90892,77158,74163,80236
매입,90480,108035,118064,121179,109065,110452,124180,106260,122138,106256,114690,125903
상사이전,14797,16362,19994,20922,16396,18129,19769,16683,20266,16555,19268,21474
알선,767,778,907,785,767,793,771,727,771,671,756,683
합계,286112,329923,350809,347336,312223,317676,359337,312156,346283,297699,310005,346357

In [90]:
# 취득금액별로 그룹핑
bins = [0, 10000000, 20000000, 30000000, 40000000, 60000000, 80000000, 100000000, float('inf')]
labels = ['~1천만원', '~2천만원', '~3천만원', '~4천만원', '~6천만원', '~8천만원', '~1억원', '1억원 초과']

df['취득금액_범위'] = pd.cut(df['취득금액'], bins=bins, labels=labels, right=True)
df['취득금액_범위'] = df['취득금액_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['취득금액_범위'] = df['취득금액_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['취득금액_범위']

0          ~4천만원
1          ~4천만원
2          ~6천만원
3          ~6천만원
4          ~6천만원
           ...
3915911    ~1천만원
3915912    ~1천만원
3915913    ~1천만원
3915914    ~1천만원
3915915    ~1천만원
Name: 취득금액_범위, Length: 3915916, dtype: category
Categories (9, object): ['~1천만원' < '~2천만원' < '~3천만원' < '~4천만원' ... '~8천만원' < '~1억원' < '1억원 초과' < '데이터없음']

In [91]:
# 주행거리별로 그룹핑
bins = [0, 10000, 20000, 40000, 60000, 80000, 100000, 120000, 140000, 160000, 180000, 200000, float('inf')]
labels = ['~1만km', '~2만km', '~4만km', '~6만km', '~8만km', '~10만km', '~12만km', '~14만km', '~16만km', '~18만km', '~20만km', '20만km초과']

df['주행거리_범위'] = pd.cut(df['주행거리'], bins=bins, labels=labels, right=True)
df['주행거리_범위'] = df['주행거리_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['주행거리_범위'] = df['주행거리_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['주행거리_범위']

0            ~4만km
1            ~6만km
2            ~6만km
3            ~6만km
4            ~4만km
            ...
3915911    20만km초과
3915912     ~18만km
3915913    20만km초과
3915914    20만km초과
3915915      ~8만km
Name: 주행거리_범위, Length: 3915916, dtype: category
Categories (13, object): ['~1만km' < '~2만km' < '~4만km' < '~6만km' ... '~18만km' < '~20만km' < '20만km초과' < '데이터없음']

In [92]:
df.loc[df['회원구분명'] == '법인및사업자', '회원등록번호'] = '법인및사업자'

df[['나이', '성별']] = df['회원등록번호'].str.split(' ', expand=True)

print(df[['나이','성별']])
print(df['나이'].value_counts())

             나이    성별
0           40대    여자
1           30대    남자
2           40대    남자
3           40대    남자
4           40대    남자
...         ...   ...
3915911     40대    여자
3915912     50대    남자
3915913  법인및사업자  None
3915914  법인및사업자  None
3915915     30대    남자

[3915916 rows x 2 columns]
나이
법인및사업자    1106920
40대        783638
50대        753756
30대        529296
60대        429538
20대        181009
70대        115952
80대         14218
90대           855
10대           733
Name: count, dtype: int64

In [93]:
df['사용본거지주소명'] = df['사용본거지주소명'].replace({
    '인천광역시 남구': '인천광역시 미추홀구',
    '경상남도 마산시': '경상남도 창원시',
    '충청남도 당진군': '충청남도 당진시',
    '충청남도 연기군': '세종특별자치시 세종특별자치시'
})

# 공백 정리: 연속된 공백을 하나의 공백으로 변환
df['사용본거지주소명'] = df['사용본거지주소명'].str.replace(r'\s+', ' ', regex=True).str.strip()
df['사용본거지주소명'] = df['사용본거지주소명'].str.strip()
df_split = df['사용본거지주소명'].str.split(' ', expand=True)

# 각 부분을 새로운 열로 추가 (열 이름 지정 가능)
df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
df['시/도'] = df['시/도'].replace('전라북도', '전북특별자치도')
df['시/도'] = df['시/도'].replace('강원도', '강원특별자치도')

In [94]:
# 기본값 기타연료
df['사용연료'] = '기타'

# 가솔린
df.loc[df['사용연료명'].str.contains('휘발유', na=False), '사용연료'] = '가솔린'

# 디젤
df.loc[df['사용연료명'].str.contains('경유', na=False), '사용연료'] = '디젤'

# 전기
df.loc[df['사용연료명'].str.contains('전기|수소전기', na=False), '사용연료'] = '전기'

# 하이브리드
df.loc[df['사용연료명'].str.contains('하이브리드', na=False), '사용연료'] = '하이브리드'

# LPG
df.loc[df['사용연료명'].str.contains('LPG|엘피지', na=False), '사용연료'] = 'LPG'

In [95]:
df2 = df[(df['이전등록구분명'] == '매매업자거래이전') & (df['등록상세명'] == '일반소유용')]

In [96]:
len(df2)

1009944

In [97]:
dfb = df2.groupby(['차명', '사용연료']) \
        .size() \
        .reset_index(name='건수') \
        .sort_values(by='건수', ascending=False)

In [98]:
dfb

                     차명 사용연료     건수
3719                 모닝  가솔린  41069
2557      그랜저(GRANDEUR)  가솔린  37368
3291                 레이  가솔린  32974
4911        아반떼(AVANTE)  가솔린  30509
6576      포터Ⅱ (PORTERⅡ)   디젤  24779
...                 ...  ...    ...
1391     KCP6.8톤건식진공흡입차   디젤      1
1390  KCP12.2톤복합식하수구청소차   디젤      1
1388        KCM1톤롱바디카고B   디젤      1
7815            후소압축진개차   디젤      1
7772           혼다 S2000  가솔린      1

[7823 rows x 3 columns]

In [ ]:
# dfb.to_excel('C:/Users/24100801/Desktop/공공DATA차량별건수(25Y).xlsx', index = False)

In [42]:
df.groupby(['년도', '월']).size().reset_index(name='건수')

      년도   월      건수
0   2024   1  342559
1   2024   2  299164
2   2024   3  343242
3   2024   4  349482
4   2024   5  338394
5   2024   6  308055
6   2024   7  353619
7   2024   8  311208
8   2024   9  290390
9   2024  10  336078
10  2024  11  310442
11  2024  12  316948
12  2025   1  286112
13  2025   2  329923
14  2025   3  350809
15  2025   4  347336
16  2025   5  312223
17  2025   6  317676
18  2025   7  359337
19  2025   8  312156
20  2025   9  346283
21  2025  10  297699

In [ ]:
df = df[['차종명', '차종분류명', '사용연료', '국산수입구분명', '차대번호', '년도', '월', '이전등록유형', '중고차시장', '유효시장', '취득금액_범위', '주행거리', '주행거리_범위', '나이', '성별', '시/도', '구/군']]
# df.to_csv('C:/Users/24100801/Desktop/output.csv', index=False, encoding='utf-8-sig')