In [1]:
import pandas as pd
import numpy as np

columns = [
    "제원관리번호", "차종명", "차종유형명", "차종분류명", "원동기형식명", "형식명", "배기량", "승차정원수", "최대적재량",
    "차명", "모델연도", "사용연료명", "국산수입구분명", "차대차체형상명", "차체길이", "차체너비", "차체높이",
    "축간거리", "전윤간거리", "후윤간거리", "변속기종류명", "제원모델년도", "차량등록번호", "차대번호", "등록관청명",
    "용도구분명", "신청구분명", "등록일", "이전등록구분명", "등록상세명", "매매상품구분명", "변경전등록상세명",
    "변경전매매상품구분명", "최초등록일", "제작년월일", "회원구분명", "회원등록번호", "사용본거지주소명", "소유자주소명",
    "취득금액", "주행거리", "변경전회원구분명", "변경전회원등록번호", "변경전사용본거지주소명",
    "원동기최고출력", "연료소비율", "차량중량", "차량총중량", "최초제원관리번호", "원동기RPM값", "타이어전전형식",
    "타이어전후형식", "타이어후전형식", "타이어후중형식", "타이어후후형식", "구동방식코드", "최초취득금액"
]

In [2]:
# 2024
file_path1 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202401.TXT"
file_path2 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202402.TXT"
file_path3 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202403.TXT"
file_path4 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202404.TXT"
file_path5 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202405.TXT"
file_path6 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\6월\\2.이전등록\\TRANSR_REGIST_202406.TXT"
file_path7 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\7월\\A10_TRANSR_REGIST.TXT"
file_path8 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\8월\\(이전)_TRANSR_REGIST.TXT"
file_path9 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\9월\\자동차\\A10_TRANSR_REGIST.TXT"
file_path10 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\10월\\A10_TRANSR_REGIST.TXT"
file_path11 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\11월\\A10_TRANSR_REGIST.TXT"
file_path12 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\12월\\TRANSR_REGIST_12.TXT"

df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

df24 = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

for i, df in enumerate(df24, start=1):
    df.columns = columns
    df['년도'] = 2024
    df['월'] = i
    df['분기'] = (i - 1) // 3 + 1

C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:15: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:16: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:17: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:18: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:19: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:20: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:21: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:22: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:23: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:24: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:25: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2549406575.py:26: DtypeWarning: Columns (44,48,49,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

In [3]:
# 2025
file_path251 = "N:\\nahr\\교통안전공단\\공공Data\\2025\\오토플러스_신규이전_25.1\\이전\\A10_TRANSR_REGIST.TXT"
df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')
df252 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 2월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df253 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 3월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df254 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 4월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df255 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 5월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df256 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 6월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df257 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 7월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df258 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 8월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df259 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 9월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df2510 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 10월 신규_이전 데이터.xlsx", sheet_name= 'A10_TRANSR')
df2511 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 11월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR')
df2512 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 12월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR')

df25 = [df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511, df2512]

for i, df in enumerate(df25, start=1):
    df.columns = columns
    df['년도'] = 2025
    df['월'] = i
    df['분기'] = (i - 1) // 3 + 1

C:\Users\24100801\AppData\Local\Temp\ipykernel_33148\2129699701.py:3: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')

In [4]:
df2512

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액,년도,월,분기
0,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,57100000.0,2025,12,4
1,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,56000000.0,2025,12,4
2,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,54000000.0,2025,12,4
3,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,54000000.0,2025,12,4
4,2820001500011310,승용,일반,대형,VQ37,Y51,3696.0,5.0,0.0,INFINITI M37,...,245/50R 18,NaN,245/50R 18,NaN,NaN,NaN,49400000.0,2025,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346352,2420004900101210,승용,일반,중형,CFG,1K,1968.0,5.0,0.0,Golf GTD,...,225/45R17,NaN,225/45R17,NaN,NaN,NaN,38000000.0,2025,12,4
346353,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30200000.0,2025,12,4
346354,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30800000.0,2025,12,4
346355,2420004900121210,승용,일반,중형,CCZ,1K,1984.0,5.0,0.0,Golf GTI,...,225/40R18,NaN,225/40R18,NaN,NaN,NaN,37900000.0,2025,12,4
346356,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30800000.0,2025,12,4

In [5]:
# df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)         # 2024년도
# df = pd.concat([df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511, df2512], ignore_index=True)            # 2025년도
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511, df2512], ignore_index=True)      #전체
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7815497 entries, 0 to 7815496
Data columns (total 60 columns):
 #   Column       Dtype
---  ------       -----
 0   제원관리번호       object
 1   차종명          object
 2   차종유형명        object
 3   차종분류명        object
 4   원동기형식명       object
 5   형식명          object
 6   배기량          float64
 7   승차정원수        float64
 8   최대적재량        float64
 9   차명           object
 10  모델연도         int64
 11  사용연료명        object
 12  국산수입구분명      object
 13  차대차체형상명      object
 14  차체길이         float64
 15  차체너비         float64
 16  차체높이         float64
 17  축간거리         float64
 18  전윤간거리        float64
 19  후윤간거리        float64
 20  변속기종류명       object
 21  제원모델년도       float64
 22  차량등록번호       object
 23  차대번호         object
 24  등록관청명        object
 25  용도구분명        object
 26  신청구분명        object
 27  등록일          int64
 28  이전등록구분명      object
 29  등록상세명        object
 30  매매상품구분명      object
 31  변경전등록상세명     object
 32  변경전매매상품구분명   object
 33  최초등록일        int64
 34  제작년월일        float64
 35  회원구분명        object
 36  회원등록번호       object
 37  사용본거지주소명     object
 38  소유자주소명       object
 39  취득금액         float64
 40  주행거리         float64
 41  변경전회원구분명     object
 42  변경전회원등록번호    object
 43  변경전사용본거지주소명  object
 44  원동기최고출력      object
 45  연료소비율        float64
 46  차량중량         float64
 47  차량총중량        float64
 48  최초제원관리번호     object
 49  원동기RPM값      object
 50  타이어전전형식      object
 51  타이어전후형식      object
 52  타이어후전형식      object
 53  타이어후중형식      object
 54  타이어후후형식      object
 55  구동방식코드       object
 56  최초취득금액       float64
 57  년도           int64
 58  월            int64
 59  분기           int64
dtypes: float64(17), int64(6), object(37)
memory usage: 3.5+ GB

In [6]:
df

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액,년도,월,분기
0,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,36200000.0,2024,1,1
1,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,36000000.0,2024,1,1
2,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,34300000.0,2024,1,1
3,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,26400000.0,2024,1,1
4,02620000400011315,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,P235/50R18,NaN,P235/50R18,NaN,NaN,NaN,34500000.0,2024,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7815492,2420004900101210,승용,일반,중형,CFG,1K,1968.0,5.0,0.0,Golf GTD,...,225/45R17,NaN,225/45R17,NaN,NaN,NaN,38000000.0,2025,12,4
7815493,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30200000.0,2025,12,4
7815494,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30800000.0,2025,12,4
7815495,2420004900121210,승용,일반,중형,CCZ,1K,1984.0,5.0,0.0,Golf GTI,...,225/40R18,NaN,225/40R18,NaN,NaN,NaN,37900000.0,2025,12,4
7815496,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,205/55R16,NaN,205/55R16,NaN,NaN,NaN,30800000.0,2025,12,4

In [7]:
org = df.groupby(['월']).agg(
    count=('월', 'count')  # '월' 열에 대한 카운트
)

org

     count
월
1   628671
2   629087
3   694051
4   696818
5   650617
6   625731
7   712956
8   623364
9   636673
10  633777
11  620447
12  663305

In [8]:
df[df['이전등록구분명'].isna()]['월']

1335575    5
1653966    5
1737842    6
5525997    6
5526077    6
          ..
6510187    8
6510188    8
6510189    8
6510190    8
6510207    8
Name: 월, Length: 3643, dtype: int64

In [9]:
conditions = [
   (df['이전등록구분명'] == '당사자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['이전등록구분명'] == '매매업자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   ((df['이전등록구분명'] == '기타이전') | (df['이전등록구분명'] == '상속이전') | (df['이전등록구분명'] == '증여이전') | (df['이전등록구분명'] == '촉탁이전')) & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] !='상품용'),
   (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] !='상품용')
]

values = ['개인거래', '알선', '기타', '매도', '매입']

df['이전등록유형'] = np.select(conditions, values, default='상사이전')

In [10]:
df['중고차시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선', '개인거래']))
).astype(int)
df['유효시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선']))
).astype(int)
df['마케팅'] = (
    (df['이전등록구분명'] == '매매업자거래이전') &
    (df['등록상세명'] == '일반소유용')
).astype(int)

In [11]:
piv = df.groupby('월').agg(
    중고차시장_건수=('중고차시장', 'sum'),
    유효시장_건수=('유효시장', 'sum')
)

piv

    중고차시장_건수  유효시장_건수
월
1     417024   199909
2     415538   205344
3     451451   226256
4     449395   225769
5     418200   203394
6     399394   198083
7     460488   230102
8     404518   205835
9     407506   207481
10    399469   199323
11    386701   188644
12    418203   198601

In [12]:
df11=df.pivot_table(
    index='월',
    columns='이전등록유형',
    values='년도',      # 아무 컬럼이나 가능
    aggfunc='count'
)

df11

이전등록유형    개인거래     기타      매도      매입   상사이전    알선
월
1       217115  11966  167862  199681  30078  1969
2       210194  12370  173438  201179  30021  1885
3       225195  12467  188012  230133  36058  2186
4       223626  12450  185975  234973  37658  2136
5       214806  11910  168119  220507  33213  2062
6       201311  11551  162166  214786  33929  1988
7       230386  12462  189575  240006  38419  2108
8       198683  11526  171986  207320  32016  1833
9       200025  11032  171183  218135  34483  1815
10      200146  11080  163215  223228  34294  1814
11      198057  11065  150785  222681  36037  1822
12      219602  12347  158732  232755  38016  1853

In [13]:
df['이전등록유형']

0            매입
1            매입
2            매도
3            매도
4            매도
           ...
7815492    개인거래
7815493    개인거래
7815494      매입
7815495      매입
7815496      매입
Name: 이전등록유형, Length: 7815497, dtype: object

In [14]:
pivot = df.pivot_table(
    index='이전등록유형',
    columns='월',
    aggfunc='size',
    fill_value=0
)

pivot.loc['합계'] = pivot.sum(numeric_only=True)

pivot

월,1,2,3,4,5,6,7,8,9,10,11,12
이전등록유형,,,,,,,,,,,,
개인거래,217115,210194,225195,223626,214806,201311,230386,198683,200025,200146,198057,219602
기타,11966,12370,12467,12450,11910,11551,12462,11526,11032,11080,11065,12347
매도,167862,173438,188012,185975,168119,162166,189575,171986,171183,163215,150785,158732
매입,199681,201179,230133,234973,220507,214786,240006,207320,218135,223228,222681,232755
상사이전,30078,30021,36058,37658,33213,33929,38419,32016,34483,34294,36037,38016
알선,1969,1885,2186,2136,2062,1988,2108,1833,1815,1814,1822,1853
합계,628671,629087,694051,696818,650617,625731,712956,623364,636673,633777,620447,663305

In [15]:
# 취득금액별로 그룹핑
bins = [0, 10000000, 20000000, 30000000, 40000000, 60000000, 80000000, 100000000, float('inf')]
labels = ['~1천만원', '~2천만원', '~3천만원', '~4천만원', '~6천만원', '~8천만원', '~1억원', '1억원 초과']

df['취득금액_범위'] = pd.cut(df['취득금액'], bins=bins, labels=labels, right=True)
df['취득금액_범위'] = df['취득금액_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['취득금액_범위'] = df['취득금액_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['취득금액_범위']

0          ~1천만원
1          ~1천만원
2          ~1천만원
3          ~1천만원
4          ~1천만원
           ...
7815492    ~1천만원
7815493    ~1천만원
7815494    ~1천만원
7815495    ~1천만원
7815496    ~1천만원
Name: 취득금액_범위, Length: 7815497, dtype: category
Categories (9, object): ['~1천만원' < '~2천만원' < '~3천만원' < '~4천만원' ... '~8천만원' < '~1억원' < '1억원 초과' < '데이터없음']

In [16]:
# 주행거리별로 그룹핑
bins = [0, 10000, 20000, 40000, 60000, 80000, 100000, 120000, 140000, 160000, 180000, 200000, float('inf')]
labels = ['~1만km', '~2만km', '~4만km', '~6만km', '~8만km', '~10만km', '~12만km', '~14만km', '~16만km', '~18만km', '~20만km', '20만km초과']

df['주행거리_범위'] = pd.cut(df['주행거리'], bins=bins, labels=labels, right=True)
df['주행거리_범위'] = df['주행거리_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['주행거리_범위'] = df['주행거리_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['주행거리_범위']

0           ~14만km
1           ~12만km
2           ~14만km
3           ~10만km
4          20만km초과
            ...
7815492    20만km초과
7815493     ~18만km
7815494    20만km초과
7815495    20만km초과
7815496      ~8만km
Name: 주행거리_범위, Length: 7815497, dtype: category
Categories (13, object): ['~1만km' < '~2만km' < '~4만km' < '~6만km' ... '~18만km' < '~20만km' < '20만km초과' < '데이터없음']

In [17]:
df.loc[df['회원구분명'] == '법인및사업자', '회원등록번호'] = '법인및사업자'

df[['나이', '성별']] = df['회원등록번호'].str.split(' ', expand=True)

print(df[['나이','성별']])
print(df['나이'].value_counts())

             나이    성별
0        법인및사업자  None
1           50대    남자
2           40대    남자
3           50대    남자
4           70대    여자
...         ...   ...
7815492     40대    여자
7815493     50대    남자
7815494  법인및사업자  None
7815495  법인및사업자  None
7815496     30대    남자

[7815497 rows x 2 columns]
나이
법인및사업자    2133305
40대       1597132
50대       1539587
30대       1065854
60대        848927
20대        375786
70대        222746
80대         26970
10대          2645
90대          2540
Name: count, dtype: int64

In [18]:
df['사용본거지주소명'] = df['사용본거지주소명'].replace({
    '인천광역시 남구': '인천광역시 미추홀구',
    '경상남도 마산시': '경상남도 창원시',
    '충청남도 당진군': '충청남도 당진시',
    '충청남도 연기군': '세종특별자치시 세종특별자치시'
})

# 공백 정리: 연속된 공백을 하나의 공백으로 변환
df['사용본거지주소명'] = df['사용본거지주소명'].str.replace(r'\s+', ' ', regex=True).str.strip()
df['사용본거지주소명'] = df['사용본거지주소명'].str.strip()
df_split = df['사용본거지주소명'].str.split(' ', expand=True)

# 각 부분을 새로운 열로 추가 (열 이름 지정 가능)
df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
df['시/도'] = df['시/도'].replace('전라북도', '전북특별자치도')
df['시/도'] = df['시/도'].replace('강원도', '강원특별자치도')

In [19]:
# 기본값 기타연료
df['사용연료'] = '기타'

# 가솔린
df.loc[df['사용연료명'].str.contains('휘발유', na=False), '사용연료'] = '가솔린'

# 디젤
df.loc[df['사용연료명'].str.contains('경유', na=False), '사용연료'] = '디젤'

# 전기
df.loc[df['사용연료명'].str.contains('전기|수소전기', na=False), '사용연료'] = '전기'

# 하이브리드
df.loc[df['사용연료명'].str.contains('하이브리드', na=False), '사용연료'] = '하이브리드'

# LPG
df.loc[df['사용연료명'].str.contains('LPG|엘피지', na=False), '사용연료'] = 'LPG'

In [20]:
df2 = df[(df['이전등록구분명'] == '매매업자거래이전') & (df['등록상세명'] == '일반소유용')]

In [21]:
len(df2)

2066339

In [22]:
dfb = df2.groupby(['차명', '사용연료']) \
        .size() \
        .reset_index(name='건수') \
        .sort_values(by='건수', ascending=False)

In [23]:
dfb

                  차명 사용연료     건수
4608              모닝  가솔린  86803
3024   그랜저(GRANDEUR)  가솔린  77570
4062              레이  가솔린  63733
6252     아반떼(AVANTE)  가솔린  59300
8485   포터Ⅱ (PORTERⅡ)   디젤  57753
...              ...  ...    ...
10180      후소22톤암롤트럭   디젤      1
10179    후소21.3톤암롤트럭   디젤      1
10178    후소20.5톤암롤트럭   디젤      1
10177    후소20.3톤암롤트럭   디젤      1
10176     후소2.7톤암롤트럭   디젤      1

[10200 rows x 3 columns]

In [24]:
# dfb.to_excel('C:/Users/24100801/Desktop/공공DATA차량별건수(25Y).xlsx', index = False)

In [25]:
df.groupby(['년도', '월']).size().reset_index(name='건수')

      년도   월      건수
0   2024   1  342559
1   2024   2  299164
2   2024   3  343242
3   2024   4  349482
4   2024   5  338394
5   2024   6  308055
6   2024   7  353619
7   2024   8  311208
8   2024   9  290390
9   2024  10  336078
10  2024  11  310442
11  2024  12  316948
12  2025   1  286112
13  2025   2  329923
14  2025   3  350809
15  2025   4  347336
16  2025   5  312223
17  2025   6  317676
18  2025   7  359337
19  2025   8  312156
20  2025   9  346283
21  2025  10  297699
22  2025  11  310005
23  2025  12  346357

In [26]:
df

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,유효시장,마케팅,취득금액_범위,주행거리_범위,나이,성별,시/도,구/군,동,사용연료
0,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,0,0,~1천만원,~14만km,법인및사업자,None,충청남도,공주시,None,가솔린
1,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,0,0,~1천만원,~12만km,50대,남자,경기도,부천시,원미구,가솔린
2,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,1,1,~1천만원,~14만km,40대,남자,서울특별시,관악구,None,가솔린
3,02620000400021316,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,1,1,~1천만원,~10만km,50대,남자,광주광역시,북구,None,가솔린
4,02620000400011315,승용,일반,대형,LCV,155SA,2457.0,5.0,0.0,CHEVROLET IMPALA 2.5,...,1,1,~1천만원,20만km초과,70대,여자,경기도,광주시,None,가솔린
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7815492,2420004900101210,승용,일반,중형,CFG,1K,1968.0,5.0,0.0,Golf GTD,...,0,0,~1천만원,20만km초과,40대,여자,강원특별자치도,원주시,None,디젤
7815493,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,0,0,~1천만원,~18만km,50대,남자,경기도,김포시,None,디젤
7815494,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,0,0,~1천만원,20만km초과,법인및사업자,None,경기도,안성시,None,디젤
7815495,2420004900121210,승용,일반,중형,CCZ,1K,1984.0,5.0,0.0,Golf GTI,...,0,0,~1천만원,20만km초과,법인및사업자,None,경기도,안성시,None,가솔린
7815496,2420004900091210,승용,일반,중형,CFF,1K,1968.0,5.0,0.0,Golf 2.0 TDI,...,0,0,~1천만원,~8만km,30대,남자,경기도,수원시,권선구,디젤

In [27]:
# df = df[['차종명', '차종분류명', '사용연료', '국산수입구분명', '차대번호', '년도', '월', '분기', '이전등록유형', '중고차시장', '유효시장', '마케팅', '취득금액_범위', '주행거리', '주행거리_범위', '나이', '성별', '시/도', '구/군']]
# df = df[['년도', '월', '이전등록유형', '중고차시장', '유효시장', '마케팅', '취득금액_범위', '주행거리_범위', '나이', '성별', '시/도', '구/군']]
# df.to_csv('C:/Users/24100801/Desktop/output.csv', index=False, encoding='utf-8-sig')

In [28]:
import os

# 저장 경로
output_dir = "C:/Users/24100801/Desktop"
os.makedirs(output_dir, exist_ok=True)

# 필요한 컬럼만 선택
df = df[[
    '년도', '분기', '월',
    '이전등록유형',
    '중고차시장', '유효시장', '마케팅',
    '취득금액_범위', '주행거리_범위',
    '나이', '성별',
    '시/도', '구/군'
]]

# 년도·분기별로 분리 저장 (CSV)
for (year, quarter), group in df.groupby(['년도', '분기']):
    file_name = f"output_{year}_{quarter}분기.csv"
    file_path = os.path.join(output_dir, file_name)

    group.to_csv(
        file_path,
        index=False,
        encoding="utf-8-sig"
    )

In [29]:
df

,년도,분기,월,이전등록유형,중고차시장,유효시장,마케팅,취득금액_범위,주행거리_범위,나이,성별,시/도,구/군
0,2024,1,1,매입,0,0,0,~1천만원,~14만km,법인및사업자,None,충청남도,공주시
1,2024,1,1,매입,0,0,0,~1천만원,~12만km,50대,남자,경기도,부천시
2,2024,1,1,매도,1,1,1,~1천만원,~14만km,40대,남자,서울특별시,관악구
3,2024,1,1,매도,1,1,1,~1천만원,~10만km,50대,남자,광주광역시,북구
4,2024,1,1,매도,1,1,1,~1천만원,20만km초과,70대,여자,경기도,광주시
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7815492,2025,4,12,개인거래,1,0,0,~1천만원,20만km초과,40대,여자,강원특별자치도,원주시
7815493,2025,4,12,개인거래,1,0,0,~1천만원,~18만km,50대,남자,경기도,김포시
7815494,2025,4,12,매입,0,0,0,~1천만원,20만km초과,법인및사업자,None,경기도,안성시
7815495,2025,4,12,매입,0,0,0,~1천만원,20만km초과,법인및사업자,None,경기도,안성시
7815496,2025,4,12,매입,0,0,0,~1천만원,~8만km,30대,남자,경기도,수원시