국토부배치성자료 데이터 요약 코드 (csv파일 바로 불러오기)
- 연령/성별
- 지역별
- 취득금액별
- 주행거리별

1. data[data['이전등록구분명'] == '매매업자간거래이전' & data['등록상세명'] == '일반소유용'] 필터링
~~2. data[data['변경전회원명'] == '개인'] 필터링~~
3. 회원등록번호로 성별과 나이 구분
4. 사용본거지주소로 지역 구분

In [1]:
import pandas as pd
import numpy as np

columns = [
    "제원관리번호", "차종명", "차종유형명", "차종분류명", "원동기형식명", "형식명", "배기량", "승차정원수", "최대적재량",
    "차명", "모델연도", "사용연료명", "국산수입구분명", "차대차체형상명", "차체길이", "차체너비", "차체높이",
    "축간거리", "전윤간거리", "후윤간거리", "변속기종류명", "제원모델년도", "차량등록번호", "차대번호", "등록관청명",
    "용도구분명", "신청구분명", "등록일", "이전등록구분명", "등록상세명", "매매상품구분명", "변경전등록상세명",
    "변경전매매상품구분명", "최초등록일", "제작년월일", "회원구분명", "회원등록번호", "사용본거지주소명", "소유자주소명",
    "취득금액", "주행거리", "변경전회원구분명", "변경전회원등록번호", "변경전사용본거지주소명",
    "원동기최고출력", "연료소비율", "차량중량", "차량총중량", "최초제원관리번호", "원동기RPM값", "타이어전전형식",
    "타이어전후형식", "타이어후전형식", "타이어후중형식", "타이어후후형식", "구동방식코드", "최초취득금액"
]

In [2]:
# 2024
file_path1 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202401.TXT"
file_path2 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202402.TXT"
file_path3 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202403.TXT"
file_path4 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202404.TXT"
file_path5 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202405.TXT"
file_path6 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\6월\\2.이전등록\\TRANSR_REGIST_202406.TXT"
file_path7 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\7월\\A10_TRANSR_REGIST.TXT"
file_path8 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\8월\\(이전)_TRANSR_REGIST.TXT"
file_path9 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\9월\\자동차\\A10_TRANSR_REGIST.TXT"
file_path10 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\10월\\A10_TRANSR_REGIST.TXT"
file_path11 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\11월\\A10_TRANSR_REGIST.TXT"
file_path12 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\12월\\TRANSR_REGIST_12.TXT"

df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

df24 = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

for i, df in enumerate(df24, start=1):
    df.columns = columns
    df['년도'] = 2024
    df['월'] = i

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:15: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:16: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:17: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:18: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:19: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:20: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:21: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:22: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:23: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:24: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:25: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2185706512.py:26: DtypeWarning: Columns (44,48,49,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

In [3]:
# 2025
file_path251 = "N:\\nahr\\교통안전공단\\공공Data\\2025\\오토플러스_신규이전_25.1\\이전\\A10_TRANSR_REGIST.TXT"
df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')
df252 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 2월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df253 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 3월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df254 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 4월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df255 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 5월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df256 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 6월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df257 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 7월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df258 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 8월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df259 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 9월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df2510 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 10월 신규_이전 데이터.xlsx", sheet_name= 'A10_TRANSR')
df2511 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 11월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR')

df25 = [df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511]

for i, df in enumerate(df25, start=1):
    df.columns = columns
    df['년도'] = 2025
    df['월'] = i

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\1511537626.py:3: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')

In [4]:
df258

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액,년도,월
0,A0810008500501213,승용,일반,중형,G4FD,MD4DBD-G,1591.0,5.0,0.0,아반떼 (AVANTE),...,6300,P195/65R15,NaN,P195/65R15,NaN,NaN,NaN,15400000.0,2025,8
1,A0810008500501213,승용,일반,중형,G4FD,MD4DBD-G,1591.0,5.0,0.0,아반떼 (AVANTE),...,6300,P195/65R15,NaN,P195/65R15,NaN,NaN,NaN,15400000.0,2025,8
2,A0810008500501213,승용,일반,중형,G4FD,MD4DBD-G,1591.0,5.0,0.0,아반떼 (AVANTE),...,6300,P195/65R15,NaN,P195/65R15,NaN,NaN,NaN,16000000.0,2025,8
3,A0810008500501213,승용,일반,중형,G4FD,MD4DBD-G,1591.0,5.0,0.0,아반떼 (AVANTE),...,6300,P195/65R15,NaN,P195/65R15,NaN,NaN,NaN,16800000.0,2025,8
4,A0810008500501213,승용,일반,중형,G4FD,MD4DBD-G,1591.0,5.0,0.0,아반떼 (AVANTE),...,6300,P195/65R15,NaN,P195/65R15,NaN,NaN,NaN,15600000.0,2025,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312151,A0810006215763115,화물,특수용도형-특수용도형,소형,D4CB,HR-3NWSJKM-E543,2497.0,3.0,1000.0,포터Ⅱ윙바디 (PORTER Ⅱ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,17600000.0,2025,8
312152,A0810006215593115,화물,특수용도형-특수용도형,소형,D4CB,HR-3HRSJKM-E543,2497.0,3.0,1000.0,포터Ⅱ냉동탑차 (PORTER Ⅱ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,20400000.0,2025,8
312153,A0810006215793115,화물,특수용도형-특수용도형,소형,D4CB,HR-3NBSJKM-E543,2497.0,3.0,1000.0,포터Ⅱ트랜스파워게이트 (PORTER Ⅱ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,17900000.0,2025,8
312154,A0810006215673115,화물,특수용도형-특수용도형,소형,D4CB,HR-3NTSJKM-E543,2497.0,3.0,800.0,포터Ⅱ냉장탑차 (PORTER Ⅱ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,19700000.0,2025,8
312155,A0810006215813115,화물,특수용도형-특수용도형,소형,D4CB,HR-3NPSJKM-E543,2497.0,3.0,1000.0,포터Ⅱ파워게이트 (PORTER Ⅱ),...,3800,195/70R15C-6PR,NaN,145R13C-8PR,NaN,NaN,NaN,15900000.0,2025,8

In [5]:
# df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)         # 2024년도
df = pd.concat([df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511], ignore_index=True)            # 2025년도
# df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510], ignore_index=True)   # 데이터 총합

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3569559 entries, 0 to 3569558
Data columns (total 59 columns):
 #   Column       Dtype
---  ------       -----
 0   제원관리번호       object
 1   차종명          object
 2   차종유형명        object
 3   차종분류명        object
 4   원동기형식명       object
 5   형식명          object
 6   배기량          float64
 7   승차정원수        float64
 8   최대적재량        float64
 9   차명           object
 10  모델연도         int64
 11  사용연료명        object
 12  국산수입구분명      object
 13  차대차체형상명      object
 14  차체길이         float64
 15  차체너비         float64
 16  차체높이         float64
 17  축간거리         float64
 18  전윤간거리        float64
 19  후윤간거리        float64
 20  변속기종류명       object
 21  제원모델년도       float64
 22  차량등록번호       object
 23  차대번호         object
 24  등록관청명        object
 25  용도구분명        object
 26  신청구분명        object
 27  등록일          int64
 28  이전등록구분명      object
 29  등록상세명        object
 30  매매상품구분명      object
 31  변경전등록상세명     object
 32  변경전매매상품구분명   object
 33  최초등록일        int64
 34  제작년월일        float64
 35  회원구분명        object
 36  회원등록번호       object
 37  사용본거지주소명     object
 38  소유자주소명       object
 39  취득금액         int64
 40  주행거리         float64
 41  변경전회원구분명     object
 42  변경전회원등록번호    object
 43  변경전사용본거지주소명  object
 44  원동기최고출력      object
 45  연료소비율        float64
 46  차량중량         float64
 47  차량총중량        float64
 48  최초제원관리번호     object
 49  원동기RPM값      object
 50  타이어전전형식      object
 51  타이어전후형식      object
 52  타이어후전형식      object
 53  타이어후중형식      object
 54  타이어후후형식      object
 55  구동방식코드       object
 56  최초취득금액       float64
 57  년도           int64
 58  월            int64
dtypes: float64(16), int64(6), object(37)
memory usage: 1.6+ GB

In [6]:
df

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액,년도,월
0,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,6000,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),64500000.0,2025,1
1,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,6000,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),64500000.0,2025,1
2,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,6000,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),88300000.0,2025,1
3,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,6000,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),69200000.0,2025,1
4,07020000700041222,승용,다목적,중형,3D3(전축) 3D5(후축),003,236.0,5.0,0.0,Model Y Long Range,...,6000,255/40R20,NaN,255/40R20,NaN,NaN,4륜구동(상시),63300000.0,2025,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3569554,A0510002300193118,화물,일반형-픽업,소형,672960,Q5LT22A4-01I,2157.0,5.0,400.0,렉스턴스포츠,...,4000,235/70R17,NaN,235/70R17,NaN,NaN,4x2(4x4),24700000.0,2025,11
3569555,BXZ10003500014118,특수,구난,소형,672960,MBK-MS-500,2157.0,2.0,500.0,엠뱅크언더리프트,...,4000,255/50R20105H(S),NaN,255/50R20105H(S),NaN,NaN,4x2(4x4),57200000.0,2025,11
3569556,BXZ10003500014118,특수,구난,소형,672960,MBK-MS-500,2157.0,2.0,500.0,엠뱅크언더리프트,...,4000,255/50R20105H(S),NaN,255/50R20105H(S),NaN,NaN,4x2(4x4),57200000.0,2025,11
3569557,A0510002300403119,화물,일반형-픽업,소형,672960,Q5LT22A4-01J,2157.0,5.0,400.0,렉스턴스포츠,...,3800,235/70R17,NaN,235/70R17,NaN,NaN,4x2(4x4),29600000.0,2025,11
3569558,A0510002300403119,화물,일반형-픽업,소형,672960,Q5LT22A4-01J,2157.0,5.0,400.0,렉스턴스포츠,...,3800,235/70R17,NaN,235/70R17,NaN,NaN,4x2(4x4),29100000.0,2025,11

In [7]:
org = df.groupby(['월']).agg(
    count=('월', 'count')  # '월' 열에 대한 카운트
)

org

     count
월
1   286112
2   329923
3   350809
4   347336
5   312223
6   317676
7   359337
8   312156
9   346283
10  297699
11  310005

In [8]:
df = df[(df['이전등록구분명'] == '매매업자거래이전') & (df['등록상세명'] == '일반소유용')]
# df = df[df['회원구분명'] == '개인']

In [9]:
filt = df.groupby('월').agg(
    count=('월', 'count')  # 카운트
)

filt

    count
월
1   75462
2   89659
3   92819
4   88360
5   78997
6   80678
7   94625
8   84649
9   91475
10  77654
11  74786

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 929164 entries, 2 to 3569557
Data columns (total 59 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   제원관리번호       929164 non-null  object
 1   차종명          929164 non-null  object
 2   차종유형명        929164 non-null  object
 3   차종분류명        929163 non-null  object
 4   원동기형식명       928565 non-null  object
 5   형식명          929162 non-null  object
 6   배기량          928969 non-null  float64
 7   승차정원수        929115 non-null  float64
 8   최대적재량        923012 non-null  float64
 9   차명           929164 non-null  object
 10  모델연도         929164 non-null  int64
 11  사용연료명        928207 non-null  object
 12  국산수입구분명      929164 non-null  object
 13  차대차체형상명      929144 non-null  object
 14  차체길이         929163 non-null  float64
 15  차체너비         929163 non-null  float64
 16  차체높이         929163 non-null  float64
 17  축간거리         929163 non-null  float64
 18  전윤간거리        929143 non-null  float64
 19  후윤간거리        929163 non-null  float64
 20  변속기종류명       929088 non-null  object
 21  제원모델년도       928241 non-null  float64
 22  차량등록번호       929164 non-null  object
 23  차대번호         929109 non-null  object
 24  등록관청명        929164 non-null  object
 25  용도구분명        929164 non-null  object
 26  신청구분명        929164 non-null  object
 27  등록일          929164 non-null  int64
 28  이전등록구분명      929164 non-null  object
 29  등록상세명        929164 non-null  object
 30  매매상품구분명      812 non-null     object
 31  변경전등록상세명     929164 non-null  object
 32  변경전매매상품구분명   919405 non-null  object
 33  최초등록일        929164 non-null  int64
 34  제작년월일        929052 non-null  float64
 35  회원구분명        929164 non-null  object
 36  회원등록번호       876812 non-null  object
 37  사용본거지주소명     929164 non-null  object
 38  소유자주소명       929164 non-null  object
 39  취득금액         929164 non-null  int64
 40  주행거리         922397 non-null  float64
 41  변경전회원구분명     929164 non-null  object
 42  변경전회원등록번호    484328 non-null  object
 43  변경전사용본거지주소명  929164 non-null  object
 44  원동기최고출력      927834 non-null  object
 45  연료소비율        928238 non-null  float64
 46  차량중량         929163 non-null  float64
 47  차량총중량        929164 non-null  float64
 48  최초제원관리번호     126413 non-null  object
 49  원동기RPM값      927832 non-null  object
 50  타이어전전형식      928177 non-null  object
 51  타이어전후형식      10537 non-null   object
 52  타이어후전형식      919573 non-null  object
 53  타이어후중형식      2116 non-null    object
 54  타이어후후형식      7879 non-null    object
 55  구동방식코드       459312 non-null  object
 56  최초취득금액       928568 non-null  float64
 57  년도           929164 non-null  int64
 58  월            929164 non-null  int64
dtypes: float64(16), int64(6), object(37)
memory usage: 425.3+ MB

In [11]:
# 취득금액별로 그룹핑
bins = [0, 10000000, 20000000, 30000000, 40000000, 60000000, 80000000, 100000000, float('inf')]
labels = ['~1천만원', '~2천만원', '~3천만원', '~4천만원', '~6천만원', '~8천만원', '~1억원', '1억원 초과']

df['취득금액_범위'] = pd.cut(df['취득금액'], bins=bins, labels=labels, right=True)
df['취득금액_범위'] = df['취득금액_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['취득금액_범위'] = df['취득금액_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['취득금액_범위']

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2996123575.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['취득금액_범위'] = pd.cut(df['취득금액'], bins=bins, labels=labels, right=True)
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2996123575.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['취득금액_범위'] = df['취득금액_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2996123575.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['취득금액_범위'] = df['취득금액_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

2          ~6천만원
3          ~6천만원
5          ~6천만원
9          ~6천만원
16         ~4천만원
           ...
3569536    ~2천만원
3569539    ~1천만원
3569542    ~2천만원
3569547    ~1천만원
3569557    ~2천만원
Name: 취득금액_범위, Length: 929164, dtype: category
Categories (9, object): ['~1천만원' < '~2천만원' < '~3천만원' < '~4천만원' ... '~8천만원' < '~1억원' < '1억원 초과' < '데이터없음']

In [12]:
# 주행거리별로 그룹핑
bins = [0, 10000, 20000, 40000, 60000, 80000, 100000, 120000, 140000, 160000, 180000, 200000, float('inf')]
labels = ['~1만km', '~2만km', '~4만km', '~6만km', '~8만km', '~10만km', '~12만km', '~14만km', '~16만km', '~18만km', '~20만km', '20만km초과']

df['주행거리_범위'] = pd.cut(df['주행거리'], bins=bins, labels=labels, right=True)
df['주행거리_범위'] = df['주행거리_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['주행거리_범위'] = df['주행거리_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['주행거리_범위']

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\384155662.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['주행거리_범위'] = pd.cut(df['주행거리'], bins=bins, labels=labels, right=True)
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\384155662.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['주행거리_범위'] = df['주행거리_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\384155662.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['주행거리_범위'] = df['주행거리_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

2            ~6만km
3            ~6만km
5            ~4만km
9            ~8만km
16         20만km초과
            ...
3569536      ~6만km
3569539     ~10만km
3569542      ~6만km
3569547     ~16만km
3569557     ~10만km
Name: 주행거리_범위, Length: 929164, dtype: category
Categories (13, object): ['~1만km' < '~2만km' < '~4만km' < '~6만km' ... '~18만km' < '~20만km' < '20만km초과' < '데이터없음']

In [13]:
# 성별 나이 텍스트 나누기
# df = df.dropna(subset=['회원등록번호']) # 빈값 삭제(총 건)
df.loc[df['회원구분명'] == '법인및사업자', '회원등록번호'] = '법인및사업자'
df[['나이', '성별']] = df['회원등록번호'].str.split(' ', expand=True)

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2792539208.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['나이', '성별']] = df['회원등록번호'].str.split(' ', expand=True)
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2792539208.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['나이', '성별']] = df['회원등록번호'].str.split(' ', expand=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 929164 entries, 2 to 3569557
Data columns (total 63 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   제원관리번호       929164 non-null  object
 1   차종명          929164 non-null  object
 2   차종유형명        929164 non-null  object
 3   차종분류명        929163 non-null  object
 4   원동기형식명       928565 non-null  object
 5   형식명          929162 non-null  object
 6   배기량          928969 non-null  float64
 7   승차정원수        929115 non-null  float64
 8   최대적재량        923012 non-null  float64
 9   차명           929164 non-null  object
 10  모델연도         929164 non-null  int64
 11  사용연료명        928207 non-null  object
 12  국산수입구분명      929164 non-null  object
 13  차대차체형상명      929144 non-null  object
 14  차체길이         929163 non-null  float64
 15  차체너비         929163 non-null  float64
 16  차체높이         929163 non-null  float64
 17  축간거리         929163 non-null  float64
 18  전윤간거리        929143 non-null  float64
 19  후윤간거리        929163 non-null  float64
 20  변속기종류명       929088 non-null  object
 21  제원모델년도       928241 non-null  float64
 22  차량등록번호       929164 non-null  object
 23  차대번호         929109 non-null  object
 24  등록관청명        929164 non-null  object
 25  용도구분명        929164 non-null  object
 26  신청구분명        929164 non-null  object
 27  등록일          929164 non-null  int64
 28  이전등록구분명      929164 non-null  object
 29  등록상세명        929164 non-null  object
 30  매매상품구분명      812 non-null     object
 31  변경전등록상세명     929164 non-null  object
 32  변경전매매상품구분명   919405 non-null  object
 33  최초등록일        929164 non-null  int64
 34  제작년월일        929052 non-null  float64
 35  회원구분명        929164 non-null  object
 36  회원등록번호       929164 non-null  object
 37  사용본거지주소명     929164 non-null  object
 38  소유자주소명       929164 non-null  object
 39  취득금액         929164 non-null  int64
 40  주행거리         922397 non-null  float64
 41  변경전회원구분명     929164 non-null  object
 42  변경전회원등록번호    484328 non-null  object
 43  변경전사용본거지주소명  929164 non-null  object
 44  원동기최고출력      927834 non-null  object
 45  연료소비율        928238 non-null  float64
 46  차량중량         929163 non-null  float64
 47  차량총중량        929164 non-null  float64
 48  최초제원관리번호     126413 non-null  object
 49  원동기RPM값      927832 non-null  object
 50  타이어전전형식      928177 non-null  object
 51  타이어전후형식      10537 non-null   object
 52  타이어후전형식      919573 non-null  object
 53  타이어후중형식      2116 non-null    object
 54  타이어후후형식      7879 non-null    object
 55  구동방식코드       459312 non-null  object
 56  최초취득금액       928568 non-null  float64
 57  년도           929164 non-null  int64
 58  월            929164 non-null  int64
 59  취득금액_범위      929164 non-null  category
 60  주행거리_범위      929164 non-null  category
 61  나이           929164 non-null  object
 62  성별           876812 non-null  object
dtypes: category(2), float64(16), int64(6), object(39)
memory usage: 441.3+ MB

In [15]:
# 성별이 없는 경우 "데이터 없음"으로 채우기
df['성별'] = df['성별'].fillna('데이터없음')

# 빈 문자열도 처리 (필요 시)
df['성별'] = df['성별'].replace('', '데이터없음')

# 성별이 없는 경우 "데이터 없음"으로 채우기
df['나이'] = df['나이'].fillna('데이터없음')

# 빈 문자열도 처리 (필요 시)
df['나이'] = df['나이'].replace('', '데이터없음')

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\1021166676.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['성별'] = df['성별'].fillna('데이터없음')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\1021166676.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['성별'] = df['성별'].replace('', '데이터없음')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\1021166676.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['나이'] = df['나이'].fillna('데이터없음')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\1021166676.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['나이'] = df['나이'].replace('', '데이터없음')

In [16]:
df['사용본거지주소명'] = df['사용본거지주소명'].replace({
    '인천광역시 남구': '인천광역시 미추홀구',
    '경상남도 마산시': '경상남도 창원시',
    '충청남도 당진군': '충청남도 당진시',
    '충청남도 연기군': '세종특별자치시 세종특별자치시'
})

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\1529836886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['사용본거지주소명'] = df['사용본거지주소명'].replace({

In [17]:
# 공백 정리: 연속된 공백을 하나의 공백으로 변환
df['사용본거지주소명'] = df['사용본거지주소명'].str.replace(r'\s+', ' ', regex=True).str.strip()
df['사용본거지주소명'] = df['사용본거지주소명'].str.strip()
df_split = df['사용본거지주소명'].str.split(' ', expand=True)

# 각 부분을 새로운 열로 추가 (열 이름 지정 가능)
df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
df['시/도'] = df['시/도'].replace('전라북도', '전북특별자치도')
df['시/도'] = df['시/도'].replace('강원도', '강원특별자치도')

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\3019517200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['사용본거지주소명'] = df['사용본거지주소명'].str.replace(r'\s+', ' ', regex=True).str.strip()
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\3019517200.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['사용본거지주소명'] = df['사용본거지주소명'].str.strip()
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\3019517200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\3019517200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\3019517200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\3019517200.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시/도'] = df['시/도'].replace('전라북도', '전북특별자치도')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\3019517200.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시/도'] = df['시/도'].replace('강원도', '강원특별자치도')

In [18]:
def group_fun(df, group_cols):
    """
    그룹화된 데이터 요약 함수
    """
    return df.groupby(group_cols).agg(
        count=('취득금액', 'count'),         # 카운트
        # total_sales=('취득금액', 'sum'),     # 합계
        # average_sales=('취득금액', 'mean')   # 평균
    )


# 월별 + 그룹별 분석
result = group_fun(df, ['월', '성별'])  # 월별 + 성별
result1 = group_fun(df, ['월', '나이'])  # 월별 + 나이별
result2 = group_fun(df, ['월', '시/도'])  # 월별 + 지역별
result3 = group_fun(df, ['월', '성별', '나이'])  # 월별 + 성별 + 나이별
# result4 = group_fun(df, ['월', '차종'])  # 월별 + 차종
result5 = group_fun(df, ['월', '취득금액_범위'])  # 월별 + 취득금액구간별
result6 = group_fun(df, ['월', '주행거리_범위'])  # 월별 + 주행거리구간별
result7 = group_fun(df, ['월', '구/군'])  # 월별 + 지역별
result8 = group_fun(df, ['월', '시/도', '구/군'])  # 월별 + 지역별

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2932307642.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return df.groupby(group_cols).agg(
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2932307642.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return df.groupby(group_cols).agg(

In [19]:
pivot_df8 = result8.pivot_table(index=["시/도","구/군"], columns="월", values="count", fill_value=0).reset_index()
pivot_df8

월,시/도,구/군,1,2,3,4,5,6,7,8,9,10,11
0,강원특별자치도,강릉시,308.0,385.0,433.0,424.0,330.0,315.0,410.0,356.0,402.0,321.0,316.0
1,강원특별자치도,고성군,48.0,56.0,52.0,62.0,63.0,53.0,46.0,62.0,49.0,60.0,49.0
2,강원특별자치도,동해시,151.0,153.0,176.0,165.0,177.0,141.0,157.0,173.0,156.0,145.0,128.0
3,강원특별자치도,삼척시,88.0,113.0,142.0,115.0,98.0,111.0,151.0,125.0,111.0,102.0,97.0
4,강원특별자치도,속초시,120.0,138.0,147.0,156.0,145.0,116.0,154.0,143.0,145.0,132.0,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,충청북도,제천시,208.0,273.0,285.0,276.0,237.0,260.0,283.0,248.0,306.0,239.0,235.0
225,충청북도,증평군,76.0,111.0,92.0,103.0,85.0,84.0,95.0,95.0,103.0,87.0,87.0
226,충청북도,진천군,190.0,242.0,251.0,252.0,242.0,244.0,273.0,209.0,265.0,190.0,234.0
227,충청북도,청주시,1594.0,2032.0,2020.0,1848.0,1742.0,1746.0,2045.0,1865.0,1997.0,1723.0,1639.0
228,충청북도,충주시,394.0,506.0,466.0,482.0,423.0,377.0,471.0,442.0,527.0,385.0,390.0

In [20]:
pivot_df6 = result6.pivot_table(index="주행거리_범위", columns="월", values="count", fill_value=0).reset_index()
pivot_df6

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\1325412745.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df6 = result6.pivot_table(index="주행거리_범위", columns="월", values="count", fill_value=0).reset_index()

월,주행거리_범위,1,2,3,4,5,6,7,8,9,10,11
0,~1만km,2777.0,3354.0,3263.0,3124.0,2870.0,3047.0,3369.0,3090.0,3259.0,2586.0,2353.0
1,~2만km,3800.0,4469.0,4194.0,4031.0,3682.0,3693.0,4393.0,3990.0,4106.0,3294.0,3044.0
2,~4만km,9055.0,10517.0,10427.0,9583.0,8513.0,9046.0,10532.0,9447.0,10050.0,7929.0,7607.0
3,~6만km,10374.0,12103.0,12314.0,11504.0,10109.0,10578.0,12503.0,11239.0,11793.0,9853.0,9305.0
4,~8만km,10293.0,12529.0,12947.0,12413.0,11070.0,11660.0,13435.0,12159.0,13034.0,11175.0,10473.0
5,~10만km,9915.0,11669.0,12505.0,12239.0,10808.0,10993.0,12927.0,11658.0,12562.0,10761.0,10624.0
6,~12만km,8061.0,9876.0,10321.0,9772.0,8964.0,9030.0,10677.0,9734.0,10380.0,8995.0,8731.0
7,~14만km,6323.0,7672.0,8301.0,7774.0,6896.0,7165.0,8401.0,7394.0,8307.0,7353.0,7246.0
8,~16만km,4653.0,5392.0,5689.0,5581.0,4938.0,5023.0,5755.0,5368.0,6022.0,5234.0,5119.0
9,~18만km,3120.0,3557.0,3777.0,3599.0,3236.0,3324.0,3913.0,3559.0,3988.0,3592.0,3336.0
10,~20만km,1994.0,2205.0,2439.0,2395.0,2143.0,2145.0,2394.0,2268.0,2605.0,2249.0,2181.0
11,20만km초과,4176.0,5023.0,5450.0,5164.0,4728.0,4742.0,5357.0,4736.0,5352.0,4623.0,4759.0
12,데이터없음,921.0,1293.0,1192.0,1181.0,1040.0,232.0,969.0,7.0,17.0,10.0,8.0

In [21]:
pivot_df2 = result2.pivot_table(index="시/도", columns="월", values="count", fill_value=0).reset_index()
pivot_df2

월,시/도,1,2,3,4,5,6,7,8,9,10,11
0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,강원특별자치도,2489.0,3092.0,3216.0,3226.0,2861.0,2777.0,3301.0,2945.0,3304.0,2766.0,2663.0
2,경기도,19811.0,23978.0,24882.0,23890.0,21303.0,22193.0,25337.0,23070.0,25096.0,21129.0,20102.0
3,경상남도,6296.0,7219.0,7233.0,6938.0,6255.0,6453.0,7826.0,6786.0,7019.0,6128.0,5885.0
4,경상북도,5110.0,5996.0,6140.0,5742.0,5236.0,5178.0,6238.0,5359.0,5845.0,5087.0,4877.0
5,광주광역시,2385.0,2771.0,2962.0,2973.0,2579.0,2492.0,3139.0,2717.0,2841.0,2590.0,2317.0
6,대구광역시,4065.0,4439.0,4519.0,4327.0,3977.0,3880.0,4819.0,4034.0,4302.0,3748.0,3602.0
7,대전광역시,2187.0,2727.0,2895.0,2615.0,2310.0,2399.0,2777.0,2498.0,2744.0,2258.0,2269.0
8,부산광역시,4114.0,4775.0,4924.0,4552.0,4172.0,4447.0,4844.0,4324.0,4714.0,3907.0,3877.0
9,서울특별시,7240.0,8584.0,8972.0,8531.0,7460.0,7892.0,9153.0,8190.0,8944.0,7397.0,7126.0
10,세종특별자치시,582.0,734.0,667.0,665.0,630.0,602.0,764.0,688.0,686.0,578.0,524.0
11,울산광역시,1904.0,2086.0,2177.0,2049.0,1782.0,1934.0,2243.0,1987.0,2083.0,1833.0,1803.0
12,인천광역시,4292.0,5326.0,5622.0,5173.0,4664.0,4849.0,5546.0,5240.0,5560.0,4516.0,4532.0
13,전라남도,3530.0,4094.0,4152.0,4121.0,3567.0,3524.0,4157.0,3725.0,4006.0,3477.0,3376.0
14,전북특별자치도,3183.0,3807.0,4133.0,3770.0,3339.0,3344.0,3828.0,3548.0,4014.0,3339.0,3203.0
15,제주특별자치도,938.0,1110.0,1209.0,1169.0,1012.0,862.0,1235.0,1086.0,1187.0,1076.0,964.0
16,충청남도,4275.0,5029.0,5258.0,4917.0,4484.0,4500.0,5502.0,4858.0,5211.0,4530.0,4442.0
17,충청북도,3061.0,3892.0,3858.0,3702.0,3366.0,3352.0,3916.0,3594.0,3919.0,3295.0,3223.0

In [22]:
pivot_df5 = result5.pivot_table(index="취득금액_범위", columns="월", values="count", fill_value=0).reset_index()
pivot_df5

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\2053241975.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df5 = result5.pivot_table(index="취득금액_범위", columns="월", values="count", fill_value=0).reset_index()

월,취득금액_범위,1,2,3,4,5,6,7,8,9,10,11
0,~1천만원,31508.0,38156.0,39757.0,36787.0,32287.0,32858.0,37798.0,33741.0,36714.0,31623.0,30728.0
1,~2천만원,20766.0,24796.0,25966.0,25053.0,22610.0,23362.0,27846.0,24633.0,26301.0,22263.0,21410.0
2,~3천만원,10979.0,12744.0,13239.0,12842.0,11783.0,11894.0,13990.0,12804.0,13714.0,11383.0,10867.0
3,~4천만원,5097.0,5860.0,5697.0,5624.0,5192.0,5187.0,6246.0,5622.0,6175.0,5192.0,4882.0
4,~6천만원,3217.0,3486.0,3398.0,3270.0,2898.0,3059.0,3756.0,3375.0,3704.0,3048.0,2837.0
5,~8천만원,762.0,860.0,852.0,840.0,743.0,754.0,912.0,777.0,964.0,801.0,789.0
6,~1억원,245.0,300.0,282.0,332.0,276.0,243.0,301.0,277.0,289.0,257.0,302.0
7,1억원 초과,275.0,348.0,361.0,391.0,310.0,329.0,359.0,373.0,392.0,301.0,319.0
8,데이터없음,2613.0,3109.0,3267.0,3221.0,2898.0,2992.0,3417.0,3047.0,3222.0,2786.0,2652.0

In [23]:
pivot_df3 = result3.reset_index().pivot(index=["월", "성별"], columns="나이", values="count").reset_index()
pivot_df3

나이,월,성별,10대,20대,30대,40대,50대,60대,70대,80대,90대,법인및사업자
0,1,남자,1.0,5246.0,11674.0,13124.0,12760.0,7945.0,2448.0,302.0,11.0,NaN
1,1,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4174.0
2,1,여자,NaN,1721.0,3985.0,4229.0,4607.0,2578.0,591.0,61.0,5.0,NaN
3,2,남자,10.0,6148.0,13447.0,15120.0,15042.0,9388.0,2935.0,387.0,12.0,NaN
4,2,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4878.0
5,2,여자,NaN,2443.0,4934.0,5372.0,5582.0,3147.0,738.0,72.0,4.0,NaN
6,3,남자,4.0,6350.0,13728.0,15894.0,15459.0,10049.0,3131.0,379.0,8.0,NaN
7,3,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5134.0
8,3,여자,2.0,2358.0,4907.0,5438.0,5782.0,3345.0,788.0,58.0,5.0,NaN
9,4,남자,4.0,5965.0,13015.0,14911.0,14793.0,9637.0,3120.0,386.0,9.0,NaN
10,4,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5217.0
11,4,여자,NaN,2090.0,4662.0,5251.0,5330.0,3112.0,778.0,78.0,2.0,NaN
12,5,남자,5.0,5552.0,11727.0,13019.0,13067.0,8590.0,2859.0,363.0,10.0,NaN
13,5,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4391.0
14,5,여자,2.0,1946.0,4238.0,4652.0,4960.0,2855.0,694.0,62.0,5.0,NaN
15,6,남자,4.0,5757.0,12094.0,13550.0,13154.0,8473.0,2803.0,382.0,6.0,NaN
16,6,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4740.0
17,6,여자,3.0,2094.0,4384.0,4612.0,4953.0,2904.0,705.0,56.0,4.0,NaN
18,7,남자,5.0,6730.0,14173.0,15727.0,15443.0,10041.0,3299.0,432.0,6.0,NaN
19,7,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5317.0
20,7,여자,3.0,2435.0,5205.0,5505.0,5849.0,3529.0,847.0,74.0,5.0,NaN
21,8,남자,6.0,6063.0,12530.0,13826.0,14024.0,9080.0,2891.0,371.0,9.0,NaN
22,8,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4676.0
23,8,여자,3.0,2150.0,4558.0,4961.0,5439.0,3228.0,768.0,61.0,5.0,NaN
24,9,남자,7.0,6426.0,13523.0,15399.0,15102.0,9832.0,3249.0,416.0,9.0,NaN
25,9,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5094.0
26,9,여자,NaN,2275.0,4825.0,5476.0,5655.0,3328.0,789.0,65.0,5.0,NaN
27,10,남자,8.0,5809.0,11692.0,12652.0,12743.0,8430.0,2882.0,387.0,9.0,NaN
28,10,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4155.0
29,10,여자,3.0,1905.0,4109.0,4508.0,4694.0,2968.0,644.0,53.0,3.0,NaN
30,11,남자,6.0,5444.0,10996.0,12280.0,12256.0,7984.0,2748.0,342.0,3.0,NaN
31,11,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4576.0
32,11,여자,4.0,1774.0,3823.0,4432.0,4597.0,2756.0,694.0,66.0,5.0,NaN

In [24]:
result3 = df.groupby(["월", "성별", "나이"]).size().reset_index(name="count")
unknown = result3[result3["성별"] == "데이터없음"]
known = result3[result3["성별"] != "데이터없음"]

pivot_df = known.pivot(index=["월", "성별"], columns="나이", values="count").reset_index()
unknown_sum = unknown.groupby("월")["count"].sum().reset_index().rename(columns={"count": "데이터없음"})
pivot_df = pivot_df.merge(unknown_sum, on="월", how="left").fillna(0)

# ✅ 중복 제거: 월별 첫 행만 데이터없음 값 유지
pivot_df["데이터없음"] = pivot_df.groupby("월")["데이터없음"].transform(
    lambda x: [x.iloc[0]] + [0] * (len(x) - 1)
)

pivot_df = pivot_df.sort_values(by=["월", "성별"]).reset_index(drop=True)

# 열 정렬 (선택)
age_order = ['10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대', '90대']
final_columns = ['월', '성별'] + [col for col in age_order if col in pivot_df.columns] + ['데이터없음']
pivot_df = pivot_df[final_columns]

pivot_df

,월,성별,10대,20대,30대,40대,50대,60대,70대,80대,90대,데이터없음
0,1,남자,1.0,5246.0,11674.0,13124.0,12760.0,7945.0,2448.0,302.0,11.0,4174
1,1,여자,0.0,1721.0,3985.0,4229.0,4607.0,2578.0,591.0,61.0,5.0,0
2,2,남자,10.0,6148.0,13447.0,15120.0,15042.0,9388.0,2935.0,387.0,12.0,4878
3,2,여자,0.0,2443.0,4934.0,5372.0,5582.0,3147.0,738.0,72.0,4.0,0
4,3,남자,4.0,6350.0,13728.0,15894.0,15459.0,10049.0,3131.0,379.0,8.0,5134
5,3,여자,2.0,2358.0,4907.0,5438.0,5782.0,3345.0,788.0,58.0,5.0,0
6,4,남자,4.0,5965.0,13015.0,14911.0,14793.0,9637.0,3120.0,386.0,9.0,5217
7,4,여자,0.0,2090.0,4662.0,5251.0,5330.0,3112.0,778.0,78.0,2.0,0
8,5,남자,5.0,5552.0,11727.0,13019.0,13067.0,8590.0,2859.0,363.0,10.0,4391
9,5,여자,2.0,1946.0,4238.0,4652.0,4960.0,2855.0,694.0,62.0,5.0,0
10,6,남자,4.0,5757.0,12094.0,13550.0,13154.0,8473.0,2803.0,382.0,6.0,4740
11,6,여자,3.0,2094.0,4384.0,4612.0,4953.0,2904.0,705.0,56.0,4.0,0
12,7,남자,5.0,6730.0,14173.0,15727.0,15443.0,10041.0,3299.0,432.0,6.0,5317
13,7,여자,3.0,2435.0,5205.0,5505.0,5849.0,3529.0,847.0,74.0,5.0,0
14,8,남자,6.0,6063.0,12530.0,13826.0,14024.0,9080.0,2891.0,371.0,9.0,4676
15,8,여자,3.0,2150.0,4558.0,4961.0,5439.0,3228.0,768.0,61.0,5.0,0
16,9,남자,7.0,6426.0,13523.0,15399.0,15102.0,9832.0,3249.0,416.0,9.0,5094
17,9,여자,0.0,2275.0,4825.0,5476.0,5655.0,3328.0,789.0,65.0,5.0,0
18,10,남자,8.0,5809.0,11692.0,12652.0,12743.0,8430.0,2882.0,387.0,9.0,4155
19,10,여자,3.0,1905.0,4109.0,4508.0,4694.0,2968.0,644.0,53.0,3.0,0
20,11,남자,6.0,5444.0,10996.0,12280.0,12256.0,7984.0,2748.0,342.0,3.0,4576
21,11,여자,4.0,1774.0,3823.0,4432.0,4597.0,2756.0,694.0,66.0,5.0,0

In [25]:
conditions = [
   (df['이전등록구분명'] == '당사자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['이전등록구분명'] == '매매업자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   ((df['이전등록구분명'] == '기타이전') | (df['이전등록구분명'] == '상속이전') | (df['이전등록구분명'] == '증여이전') | (df['이전등록구분명'] == '촉탁이전')) & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] !='상품용'),
   (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] !='상품용')
]

values = ['개인거래', '알선', '기타', '매도', '매입']

df['이전등록유형'] = np.select(conditions, values, default='상사이전')

df['중고차시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선', '개인거래']))
).astype(int)
df['유효시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선']))
).astype(int)

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\919015417.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['이전등록유형'] = np.select(conditions, values, default='상사이전')
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\919015417.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['중고차시장'] = (
C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\919015417.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['유효시장'] = (

In [26]:
# 기본값 기타연료
df['사용연료'] = '기타'

# 가솔린
df.loc[df['사용연료명'].str.contains('휘발유', na=False), '사용연료'] = '가솔린'

# 디젤
df.loc[df['사용연료명'].str.contains('경유', na=False), '사용연료'] = '디젤'

# 전기
df.loc[df['사용연료명'].str.contains('전기|수소전기', na=False), '사용연료'] = '전기'

# 하이브리드
df.loc[df['사용연료명'].str.contains('하이브리드', na=False), '사용연료'] = '하이브리드'

# LPG
df.loc[df['사용연료명'].str.contains('LPG|엘피지', na=False), '사용연료'] = 'LPG'

C:\Users\24100801\AppData\Local\Temp\ipykernel_19260\1793596827.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['사용연료'] = '기타'

In [ ]:
with pd.ExcelWriter('C:/Users/24100801/Desktop/2025년11월전체판매현황_공공데이터.xlsx', engine='xlsxwriter') as writer:
    filt.to_excel(writer, sheet_name='전체데이터')
    pivot_df.to_excel(writer, sheet_name='판매현황_나이성별', index=False)
    pivot_df6.to_excel(writer, sheet_name='판매현황_주행거리', index=False)
    pivot_df5.to_excel(writer, sheet_name='판매현황_취득금액', index=False)
    pivot_df2.to_excel(writer, sheet_name='판매현황_시도', index=False)
    pivot_df8.to_excel(writer, sheet_name='판매현황_시도구군', index=False)