국토부배치성자료 데이터 요약 코드 (csv파일 바로 불러오기)
- 연령/성별
- 지역별
- 취득금액별
- 주행거리별

1. data[data['이전등록구분명'] == '매매업자간거래이전' & data['등록상세명'] == '일반소유용'] 필터링
~~2. data[data['변경전회원명'] == '개인'] 필터링~~
3. 회원등록번호로 성별과 나이 구분
4. 사용본거지주소로 지역 구분

In [1]:
import pandas as pd
import numpy as np

columns = [
    "제원관리번호", "차종명", "차종유형명", "차종분류명", "원동기형식명", "형식명", "배기량", "승차정원수", "최대적재량",
    "차명", "모델연도", "사용연료명", "국산수입구분명", "차대차체형상명", "차체길이", "차체너비", "차체높이",
    "축간거리", "전윤간거리", "후윤간거리", "변속기종류명", "제원모델년도", "차량등록번호", "차대번호", "등록관청명",
    "용도구분명", "신청구분명", "등록일", "이전등록구분명", "등록상세명", "매매상품구분명", "변경전등록상세명",
    "변경전매매상품구분명", "최초등록일", "제작년월일", "회원구분명", "회원등록번호", "사용본거지주소명", "소유자주소명",
    "취득금액", "주행거리", "변경전회원구분명", "변경전회원등록번호", "변경전사용본거지주소명",
    "원동기최고출력", "연료소비율", "차량중량", "차량총중량", "최초제원관리번호", "원동기RPM값", "타이어전전형식",
    "타이어전후형식", "타이어후전형식", "타이어후중형식", "타이어후후형식", "구동방식코드", "최초취득금액"
]

In [2]:
# 2024
file_path1 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202401.TXT"
file_path2 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202402.TXT"
file_path3 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202403.TXT"
file_path4 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202404.TXT"
file_path5 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\오토플러스_신규이전_24.1~5_ts5020!@\\오토플러스_신규이전_24.1~5_ts5020!@\\이전등록\\TRANSR_REGIST_202405.TXT"
file_path6 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\6월\\2.이전등록\\TRANSR_REGIST_202406.TXT"
file_path7 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\7월\\A10_TRANSR_REGIST.TXT"
file_path8 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\8월\\(이전)_TRANSR_REGIST.TXT"
file_path9 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\9월\\자동차\\A10_TRANSR_REGIST.TXT"
file_path10 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\10월\\A10_TRANSR_REGIST.TXT"
file_path11 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\11월\\A10_TRANSR_REGIST.TXT"
file_path12 = "N:\\nahr\\교통안전공단\\공공Data\\2024\\12월\\TRANSR_REGIST_12.TXT"

df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

df24 = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

for i, df in enumerate(df24, start=1):
    df.columns = columns
    df['년도'] = 2024
    df['월'] = i

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:15: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path1, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:16: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file_path2, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:17: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file_path3, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:18: DtypeWarning: Columns (44,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(file_path4, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:19: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv(file_path5, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:20: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv(file_path6, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:21: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv(file_path7, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:22: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv(file_path8, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:23: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv(file_path9, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:24: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df10 = pd.read_csv(file_path10, sep='\t', header=None, encoding='euc-kr')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:25: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df11 = pd.read_csv(file_path11, sep='\t', header=None, encoding='cp949')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2185706512.py:26: DtypeWarning: Columns (44,48,49,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df12 = pd.read_csv(file_path12, sep='\t', header=None, encoding='euc-kr')

In [3]:
# 2025
file_path251 = "N:\\nahr\\교통안전공단\\공공Data\\2025\\오토플러스_신규이전_25.1\\이전\\A10_TRANSR_REGIST.TXT"
df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')
df252 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 2월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df253 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 3월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df254 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 4월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df255 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 5월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df256 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 6월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df257 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 7월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df258 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 8월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df259 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 9월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR_REGIST')
df2510 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 10월 신규_이전 데이터.xlsx", sheet_name= 'A10_TRANSR')
df2511 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 11월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR')
df2512 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2025/25년 12월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR')

df25 = [df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511, df2512]

for i, df in enumerate(df25, start=1):
    df.columns = columns
    df['년도'] = 2025
    df['월'] = i

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\1128929665.py:3: DtypeWarning: Columns (44,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df251 = pd.read_csv(file_path251, sep='\t', header=None, encoding='cp949')

In [ ]:
# 2026
df261 = pd.read_excel("N:/nahr/교통안전공단/공공Data/2026/26년 1월 신규_이전 데이터.xlsx", sheet_name= '이전_A10_TRANSR')

df26 = [df261]

for i, df in enumerate(df26, start=1):
    df.columns = columns
    df['년도'] = 2026
    df['월'] = i

In [5]:
df26

[                   제원관리번호 차종명 차종유형명 차종분류명   원동기형식명        형식명     배기량  승차정원수  \
 0       A0810007403813111  화물     밴    소형     D4CB     TQ5JBB  2497.0    5.0
 1       A0810007403793111  화물     밴    소형     D4CB     TQ3JBB  2497.0    3.0
 2       A0810007404013112  화물     밴    소형     D4CB  TQ5JBC-E5  2497.0    5.0
 3       A0810007404013112  화물     밴    소형     D4CB  TQ5JBC-E5  2497.0    5.0
 4       A0810007404013112  화물     밴    소형     D4CB  TQ5JBC-E5  2497.0    5.0
 ...                   ...  ..   ...   ...      ...        ...     ...    ...
 322498  00120002101271214  승용    일반    중형  B37C15A       XT31  1496.0    5.0
 322499  00120002101461215  승용    일반    중형  B37C15A       XT31  1496.0    5.0
 322500  00120002101741216  승용    일반    중형  B37C15A       XT31  1496.0    5.0
 322501  00120002101271214  승용    일반    중형  B37C15A       XT31  1496.0    5.0
 322502  00120002101271214  승용    일반    중형  B37C15A       XT31  1496.0    5.0

         최대적재량                       차명  ...  원동기RPM값     타이어전전형식 타이어전후형식  \
 0       600.0   그랜드 스타렉스(GRAND STAREX)  ...     3600  215/70R16C     NaN
 1       800.0   그랜드 스타렉스(GRAND STAREX)  ...     3600  215/70R16C     NaN
 2       600.0   그랜드 스타렉스(GRAND STAREX)  ...     3600  215/70R16C     NaN
 3       600.0   그랜드 스타렉스(GRAND STAREX)  ...     3600  215/70R16C     NaN
 4       600.0   그랜드 스타렉스(GRAND STAREX)  ...     3600  215/70R16C     NaN
 ...       ...                      ...  ...      ...         ...     ...
 322498    0.0  MINI Cooper D five-door  ...     4000   175/65R15     NaN
 322499    0.0  MINI Cooper D five-door  ...     4000   175/65R15     NaN
 322500    0.0  MINI Cooper D five-door  ...     4000   175/65R15     NaN
 322501    0.0  MINI Cooper D five-door  ...     4000   175/65R15     NaN
 322502    0.0  MINI Cooper D five-door  ...     4000   175/65R15     NaN

            타이어후전형식  타이어후중형식  타이어후후형식  구동방식코드      최초취득금액    년도  월
 0       215/70R16C      NaN      NaN     NaN  21900000.0  2026  1
 1       215/70R16C      NaN      NaN     NaN  20600000.0  2026  1
 2       215/70R16C      NaN      NaN     NaN  21300000.0  2026  1
 3       215/70R16C      NaN      NaN     NaN  21600000.0  2026  1
 4       215/70R16C      NaN      NaN     NaN  21300000.0  2026  1
 ...            ...      ...      ...     ...         ...   ... ..
 322498   175/65R15      NaN      NaN     NaN  36000000.0  2026  1
 322499   175/65R15      NaN      NaN     NaN  28900000.0  2026  1
 322500   175/65R15      NaN      NaN     NaN  34300000.0  2026  1
 322501   175/65R15      NaN      NaN     NaN  36000000.0  2026  1
 322502   175/65R15      NaN      NaN     NaN  31100000.0  2026  1

 [322503 rows x 59 columns]]

In [39]:
# df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)         # 2024년도
# df = pd.concat([df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510, df2511, df2512], ignore_index=True)            # 2025년도
df = pd.concat([df261],ignore_index = True)          # 2026년도
# df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df251, df252, df253, df254, df255, df256, df257, df258, df259, df2510], ignore_index=True)   # 데이터 총합

# df.info()

In [40]:
df

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,...,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액,년도,월
0,A0810007403813111,화물,밴,소형,D4CB,TQ5JBB,2497.0,5.0,600.0,그랜드 스타렉스(GRAND STAREX),...,3600,215/70R16C,NaN,215/70R16C,NaN,NaN,NaN,21900000.0,2026,1
1,A0810007403793111,화물,밴,소형,D4CB,TQ3JBB,2497.0,3.0,800.0,그랜드 스타렉스(GRAND STAREX),...,3600,215/70R16C,NaN,215/70R16C,NaN,NaN,NaN,20600000.0,2026,1
2,A0810007404013112,화물,밴,소형,D4CB,TQ5JBC-E5,2497.0,5.0,600.0,그랜드 스타렉스(GRAND STAREX),...,3600,215/70R16C,NaN,215/70R16C,NaN,NaN,NaN,21300000.0,2026,1
3,A0810007404013112,화물,밴,소형,D4CB,TQ5JBC-E5,2497.0,5.0,600.0,그랜드 스타렉스(GRAND STAREX),...,3600,215/70R16C,NaN,215/70R16C,NaN,NaN,NaN,21600000.0,2026,1
4,A0810007404013112,화물,밴,소형,D4CB,TQ5JBC-E5,2497.0,5.0,600.0,그랜드 스타렉스(GRAND STAREX),...,3600,215/70R16C,NaN,215/70R16C,NaN,NaN,NaN,21300000.0,2026,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322498,00120002101271214,승용,일반,중형,B37C15A,XT31,1496.0,5.0,0.0,MINI Cooper D five-door,...,4000,175/65R15,NaN,175/65R15,NaN,NaN,NaN,36000000.0,2026,1
322499,00120002101461215,승용,일반,중형,B37C15A,XT31,1496.0,5.0,0.0,MINI Cooper D five-door,...,4000,175/65R15,NaN,175/65R15,NaN,NaN,NaN,28900000.0,2026,1
322500,00120002101741216,승용,일반,중형,B37C15A,XT31,1496.0,5.0,0.0,MINI Cooper D five-door,...,4000,175/65R15,NaN,175/65R15,NaN,NaN,NaN,34300000.0,2026,1
322501,00120002101271214,승용,일반,중형,B37C15A,XT31,1496.0,5.0,0.0,MINI Cooper D five-door,...,4000,175/65R15,NaN,175/65R15,NaN,NaN,NaN,36000000.0,2026,1
322502,00120002101271214,승용,일반,중형,B37C15A,XT31,1496.0,5.0,0.0,MINI Cooper D five-door,...,4000,175/65R15,NaN,175/65R15,NaN,NaN,NaN,31100000.0,2026,1

In [41]:
org = df.groupby(['월']).agg(
    count=('월', 'count')  # '월' 열에 대한 카운트
)

org

    count
월
1  322503

In [42]:
df = df[(df['이전등록구분명'] == '매매업자거래이전') & (df['등록상세명'] == '일반소유용')]
# df = df[df['회원구분명'] == '개인']

In [43]:
filt = df.groupby('월').agg(
    count=('월', 'count')  # 카운트
)

filt

   count
월
1  83079

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83079 entries, 0 to 322498
Data columns (total 59 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   제원관리번호       83079 non-null  object
 1   차종명          83079 non-null  object
 2   차종유형명        83079 non-null  object
 3   차종분류명        83079 non-null  object
 4   원동기형식명       83051 non-null  object
 5   형식명          83079 non-null  object
 6   배기량          83059 non-null  float64
 7   승차정원수        83076 non-null  float64
 8   최대적재량        82554 non-null  float64
 9   차명           83079 non-null  object
 10  모델연도         83079 non-null  int64
 11  사용연료명        83004 non-null  object
 12  국산수입구분명      83079 non-null  object
 13  차대차체형상명      83077 non-null  object
 14  차체길이         83079 non-null  float64
 15  차체너비         83079 non-null  float64
 16  차체높이         83079 non-null  float64
 17  축간거리         83079 non-null  float64
 18  전윤간거리        83079 non-null  float64
 19  후윤간거리        83079 non-null  float64
 20  변속기종류명       83071 non-null  object
 21  제원모델년도       83014 non-null  float64
 22  차량등록번호       83079 non-null  object
 23  차대번호         83073 non-null  object
 24  등록관청명        83079 non-null  object
 25  용도구분명        83079 non-null  object
 26  신청구분명        83079 non-null  object
 27  등록일          83079 non-null  int64
 28  이전등록구분명      83079 non-null  object
 29  등록상세명        83079 non-null  object
 30  매매상품구분명      30 non-null     object
 31  변경전등록상세명     83079 non-null  object
 32  변경전매매상품구분명   82415 non-null  object
 33  최초등록일        83079 non-null  int64
 34  제작년월일        83074 non-null  float64
 35  회원구분명        83079 non-null  object
 36  회원등록번호       78026 non-null  object
 37  사용본거지주소명     83079 non-null  object
 38  소유자주소명       83079 non-null  object
 39  취득금액         83079 non-null  int64
 40  주행거리         83079 non-null  float64
 41  변경전회원구분명     83079 non-null  object
 42  변경전회원등록번호    42177 non-null  object
 43  변경전사용본거지주소명  83079 non-null  object
 44  원동기최고출력      82826 non-null  object
 45  연료소비율        82994 non-null  float64
 46  차량중량         83079 non-null  float64
 47  차량총중량        83079 non-null  int64
 48  최초제원관리번호     10858 non-null  object
 49  원동기RPM값      82826 non-null  object
 50  타이어전전형식      83000 non-null  object
 51  타이어전후형식      727 non-null    object
 52  타이어후전형식      82420 non-null  object
 53  타이어후중형식      172 non-null    object
 54  타이어후후형식      686 non-null    object
 55  구동방식코드       42286 non-null  object
 56  최초취득금액       83037 non-null  float64
 57  년도           83079 non-null  int64
 58  월            83079 non-null  int64
dtypes: float64(15), int64(7), object(37)
memory usage: 38.0+ MB

In [45]:
# 취득금액별로 그룹핑
bins = [0, 10000000, 20000000, 30000000, 40000000, 60000000, 80000000, 100000000, float('inf')]
labels = ['~1천만원', '~2천만원', '~3천만원', '~4천만원', '~6천만원', '~8천만원', '~1억원', '1억원 초과']

df['취득금액_범위'] = pd.cut(df['취득금액'], bins=bins, labels=labels, right=True)
df['취득금액_범위'] = df['취득금액_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['취득금액_범위'] = df['취득금액_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['취득금액_범위']

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2996123575.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['취득금액_범위'] = pd.cut(df['취득금액'], bins=bins, labels=labels, right=True)
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2996123575.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['취득금액_범위'] = df['취득금액_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2996123575.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['취득금액_범위'] = df['취득금액_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

0         ~1천만원
10        ~2천만원
15        ~1천만원
24        ~1천만원
26        데이터없음
          ...
322491    ~1천만원
322492    ~1천만원
322493    ~1천만원
322497    ~1천만원
322498    ~1천만원
Name: 취득금액_범위, Length: 83079, dtype: category
Categories (9, object): ['~1천만원' < '~2천만원' < '~3천만원' < '~4천만원' ... '~8천만원' < '~1억원' < '1억원 초과' < '데이터없음']

In [46]:
# 주행거리별로 그룹핑
bins = [0, 10000, 20000, 40000, 60000, 80000, 100000, 120000, 140000, 160000, 180000, 200000, float('inf')]
labels = ['~1만km', '~2만km', '~4만km', '~6만km', '~8만km', '~10만km', '~12만km', '~14만km', '~16만km', '~18만km', '~20만km', '20만km초과']

df['주행거리_범위'] = pd.cut(df['주행거리'], bins=bins, labels=labels, right=True)
df['주행거리_범위'] = df['주행거리_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
df['주행거리_범위'] = df['주행거리_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

df['주행거리_범위']

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\384155662.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['주행거리_범위'] = pd.cut(df['주행거리'], bins=bins, labels=labels, right=True)
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\384155662.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['주행거리_범위'] = df['주행거리_범위'].cat.add_categories('데이터없음')  # 새로운 범주 추가
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\384155662.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['주행거리_범위'] = df['주행거리_범위'].fillna('데이터없음')  # NaN을 '값없음'으로 변경

0         ~20만km
10         ~8만km
15        ~20만km
24        ~12만km
26        ~18만km
           ...
322491     ~8만km
322492    ~12만km
322493    ~10만km
322497     ~8만km
322498    ~16만km
Name: 주행거리_범위, Length: 83079, dtype: category
Categories (13, object): ['~1만km' < '~2만km' < '~4만km' < '~6만km' ... '~18만km' < '~20만km' < '20만km초과' < '데이터없음']

In [47]:
# 성별 나이 텍스트 나누기
# df = df.dropna(subset=['회원등록번호']) # 빈값 삭제(총 건)
df.loc[df['회원구분명'] == '법인및사업자', '회원등록번호'] = '법인및사업자'
df[['나이', '성별']] = df['회원등록번호'].str.split(' ', expand=True)

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2792539208.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['나이', '성별']] = df['회원등록번호'].str.split(' ', expand=True)
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2792539208.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['나이', '성별']] = df['회원등록번호'].str.split(' ', expand=True)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83079 entries, 0 to 322498
Data columns (total 63 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   제원관리번호       83079 non-null  object
 1   차종명          83079 non-null  object
 2   차종유형명        83079 non-null  object
 3   차종분류명        83079 non-null  object
 4   원동기형식명       83051 non-null  object
 5   형식명          83079 non-null  object
 6   배기량          83059 non-null  float64
 7   승차정원수        83076 non-null  float64
 8   최대적재량        82554 non-null  float64
 9   차명           83079 non-null  object
 10  모델연도         83079 non-null  int64
 11  사용연료명        83004 non-null  object
 12  국산수입구분명      83079 non-null  object
 13  차대차체형상명      83077 non-null  object
 14  차체길이         83079 non-null  float64
 15  차체너비         83079 non-null  float64
 16  차체높이         83079 non-null  float64
 17  축간거리         83079 non-null  float64
 18  전윤간거리        83079 non-null  float64
 19  후윤간거리        83079 non-null  float64
 20  변속기종류명       83071 non-null  object
 21  제원모델년도       83014 non-null  float64
 22  차량등록번호       83079 non-null  object
 23  차대번호         83073 non-null  object
 24  등록관청명        83079 non-null  object
 25  용도구분명        83079 non-null  object
 26  신청구분명        83079 non-null  object
 27  등록일          83079 non-null  int64
 28  이전등록구분명      83079 non-null  object
 29  등록상세명        83079 non-null  object
 30  매매상품구분명      30 non-null     object
 31  변경전등록상세명     83079 non-null  object
 32  변경전매매상품구분명   82415 non-null  object
 33  최초등록일        83079 non-null  int64
 34  제작년월일        83074 non-null  float64
 35  회원구분명        83079 non-null  object
 36  회원등록번호       83078 non-null  object
 37  사용본거지주소명     83079 non-null  object
 38  소유자주소명       83079 non-null  object
 39  취득금액         83079 non-null  int64
 40  주행거리         83079 non-null  float64
 41  변경전회원구분명     83079 non-null  object
 42  변경전회원등록번호    42177 non-null  object
 43  변경전사용본거지주소명  83079 non-null  object
 44  원동기최고출력      82826 non-null  object
 45  연료소비율        82994 non-null  float64
 46  차량중량         83079 non-null  float64
 47  차량총중량        83079 non-null  int64
 48  최초제원관리번호     10858 non-null  object
 49  원동기RPM값      82826 non-null  object
 50  타이어전전형식      83000 non-null  object
 51  타이어전후형식      727 non-null    object
 52  타이어후전형식      82420 non-null  object
 53  타이어후중형식      172 non-null    object
 54  타이어후후형식      686 non-null    object
 55  구동방식코드       42286 non-null  object
 56  최초취득금액       83037 non-null  float64
 57  년도           83079 non-null  int64
 58  월            83079 non-null  int64
 59  취득금액_범위      83079 non-null  category
 60  주행거리_범위      83079 non-null  category
 61  나이           83078 non-null  object
 62  성별           78026 non-null  object
dtypes: category(2), float64(15), int64(7), object(39)
memory usage: 39.5+ MB

In [49]:
# 성별이 없는 경우 "데이터 없음"으로 채우기
df['성별'] = df['성별'].fillna('데이터없음')

# 빈 문자열도 처리 (필요 시)
df['성별'] = df['성별'].replace('', '데이터없음')

# 성별이 없는 경우 "데이터 없음"으로 채우기
df['나이'] = df['나이'].fillna('데이터없음')

# 빈 문자열도 처리 (필요 시)
df['나이'] = df['나이'].replace('', '데이터없음')

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\1021166676.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['성별'] = df['성별'].fillna('데이터없음')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\1021166676.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['성별'] = df['성별'].replace('', '데이터없음')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\1021166676.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['나이'] = df['나이'].fillna('데이터없음')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\1021166676.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['나이'] = df['나이'].replace('', '데이터없음')

In [50]:
df['사용본거지주소명'] = df['사용본거지주소명'].replace({
    '인천광역시 남구': '인천광역시 미추홀구',
    '경상남도 마산시': '경상남도 창원시',
    '충청남도 당진군': '충청남도 당진시',
    '충청남도 연기군': '세종특별자치시 세종특별자치시',
    '경상남도 진해시': '경상남도 창원시'
})

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\3869840150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['사용본거지주소명'] = df['사용본거지주소명'].replace({

In [51]:
# 공백 정리: 연속된 공백을 하나의 공백으로 변환
df['사용본거지주소명'] = df['사용본거지주소명'].str.replace(r'\s+', ' ', regex=True).str.strip()
df['사용본거지주소명'] = df['사용본거지주소명'].str.strip()
df_split = df['사용본거지주소명'].str.split(' ', expand=True)

# 각 부분을 새로운 열로 추가 (열 이름 지정 가능)
df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
df['시/도'] = df['시/도'].replace('전라북도', '전북특별자치도')
df['시/도'] = df['시/도'].replace('강원도', '강원특별자치도')

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\3019517200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['사용본거지주소명'] = df['사용본거지주소명'].str.replace(r'\s+', ' ', regex=True).str.strip()
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\3019517200.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['사용본거지주소명'] = df['사용본거지주소명'].str.strip()
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\3019517200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\3019517200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\3019517200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['시/도', '구/군', '동']] = df_split.iloc[:, :3]  # 앞 3개의 컬럼만 선택
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\3019517200.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시/도'] = df['시/도'].replace('전라북도', '전북특별자치도')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\3019517200.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시/도'] = df['시/도'].replace('강원도', '강원특별자치도')

In [52]:
def group_fun(df, group_cols):
    """
    그룹화된 데이터 요약 함수
    """
    return df.groupby(group_cols).agg(
        count=('취득금액', 'count'),         # 카운트
        # total_sales=('취득금액', 'sum'),     # 합계
        # average_sales=('취득금액', 'mean')   # 평균
    )


# 월별 + 그룹별 분석
result = group_fun(df, ['월', '성별'])  # 월별 + 성별
result1 = group_fun(df, ['월', '나이'])  # 월별 + 나이별
result2 = group_fun(df, ['월', '시/도'])  # 월별 + 지역별
result3 = group_fun(df, ['월', '성별', '나이'])  # 월별 + 성별 + 나이별
# result4 = group_fun(df, ['월', '차종'])  # 월별 + 차종
result5 = group_fun(df, ['월', '취득금액_범위'])  # 월별 + 취득금액구간별
result6 = group_fun(df, ['월', '주행거리_범위'])  # 월별 + 주행거리구간별
result7 = group_fun(df, ['월', '구/군'])  # 월별 + 지역별
result8 = group_fun(df, ['월', '시/도', '구/군'])  # 월별 + 지역별

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2932307642.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return df.groupby(group_cols).agg(
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2932307642.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return df.groupby(group_cols).agg(

In [53]:
pivot_df8 = result8.pivot_table(index=["시/도","구/군"], columns="월", values="count", fill_value=0).reset_index()
pivot_df8

월        시/도  구/군       1
0    강원특별자치도  강릉시   358.0
1    강원특별자치도  고성군    74.0
2    강원특별자치도  동해시   151.0
3    강원특별자치도  삼척시   132.0
4    강원특별자치도  속초시   142.0
..       ...  ...     ...
224     충청북도  제천시   249.0
225     충청북도  증평군   103.0
226     충청북도  진천군   235.0
227     충청북도  청주시  1737.0
228     충청북도  충주시   454.0

[229 rows x 3 columns]

In [54]:
pivot_df6 = result6.pivot_table(index="주행거리_범위", columns="월", values="count", fill_value=0).reset_index()
pivot_df6

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\1325412745.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df6 = result6.pivot_table(index="주행거리_범위", columns="월", values="count", fill_value=0).reset_index()

월   주행거리_범위        1
0     ~1만km   2819.0
1     ~2만km   3514.0
2     ~4만km   8957.0
3     ~6만km  10847.0
4     ~8만km  11724.0
5    ~10만km  11411.0
6    ~12만km   9654.0
7    ~14만km   7706.0
8    ~16만km   5494.0
9    ~18만km   3632.0
10   ~20만km   2358.0
11  20만km초과   4955.0
12    데이터없음      8.0

In [55]:
pivot_df2 = result2.pivot_table(index="시/도", columns="월", values="count", fill_value=0).reset_index()
pivot_df2

월       시/도        1
0   강원특별자치도   2833.0
1       경기도  21818.0
2      경상남도   7006.0
3      경상북도   5766.0
4     광주광역시   2530.0
5     대구광역시   4251.0
6     대전광역시   2405.0
7     부산광역시   4300.0
8     서울특별시   7808.0
9   세종특별자치시    627.0
10    울산광역시   2165.0
11    인천광역시   4800.0
12     전라남도   3967.0
13  전북특별자치도   3505.0
14  제주특별자치도   1047.0
15     충청남도   4771.0
16     충청북도   3480.0

In [56]:
pivot_df5 = result5.pivot_table(index="취득금액_범위", columns="월", values="count", fill_value=0).reset_index()
pivot_df5

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\2053241975.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df5 = result5.pivot_table(index="취득금액_범위", columns="월", values="count", fill_value=0).reset_index()

월 취득금액_범위        1
0   ~1천만원  33610.0
1   ~2천만원  23584.0
2   ~3천만원  12271.0
3   ~4천만원   5855.0
4   ~6천만원   3399.0
5   ~8천만원    838.0
6    ~1억원    295.0
7  1억원 초과    389.0
8   데이터없음   2838.0

In [57]:
pivot_df3 = result3.reset_index().pivot(index=["월", "성별"], columns="나이", values="count").reset_index()
pivot_df3

나이,월,성별,10대,20대,30대,40대,50대,60대,70대,80대,90대,데이터없음,법인및사업자
0,1,남자,81.0,7772.0,12195.0,13647.0,13546.0,8388.0,2351.0,265.0,5.0,NaN,NaN
1,1,데이터없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5052.0
2,1,여자,34.0,2555.0,4248.0,4755.0,4942.0,2611.0,590.0,38.0,3.0,NaN,NaN

In [58]:
result3 = df.groupby(["월", "성별", "나이"]).size().reset_index(name="count")
unknown = result3[result3["성별"] == "데이터없음"]
known = result3[result3["성별"] != "데이터없음"]

pivot_df = known.pivot(index=["월", "성별"], columns="나이", values="count").reset_index()
unknown_sum = unknown.groupby("월")["count"].sum().reset_index().rename(columns={"count": "데이터없음"})
pivot_df = pivot_df.merge(unknown_sum, on="월", how="left").fillna(0)

# ✅ 중복 제거: 월별 첫 행만 데이터없음 값 유지
pivot_df["데이터없음"] = pivot_df.groupby("월")["데이터없음"].transform(
    lambda x: [x.iloc[0]] + [0] * (len(x) - 1)
)

pivot_df = pivot_df.sort_values(by=["월", "성별"]).reset_index(drop=True)

# 열 정렬 (선택)
age_order = ['10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대', '90대']
final_columns = ['월', '성별'] + [col for col in age_order if col in pivot_df.columns] + ['데이터없음']
pivot_df = pivot_df[final_columns]

pivot_df

   월  성별  10대   20대    30대    40대    50대   60대   70대  80대  90대  데이터없음
0  1  남자   81  7772  12195  13647  13546  8388  2351  265    5   5053
1  1  여자   34  2555   4248   4755   4942  2611   590   38    3      0

In [59]:
conditions = [
   (df['이전등록구분명'] == '당사자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['이전등록구분명'] == '매매업자거래이전') & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   ((df['이전등록구분명'] == '기타이전') | (df['이전등록구분명'] == '상속이전') | (df['이전등록구분명'] == '증여이전') | (df['이전등록구분명'] == '촉탁이전')) & (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] != '상품용') & (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] != '상품용'),
   (df['등록상세명'] == '일반소유용') & (df['매매상품구분명'] !='상품용'),
   (df['변경전등록상세명'] == '일반소유용') & (df['변경전매매상품구분명'] !='상품용')
]

values = ['개인거래', '알선', '기타', '매도', '매입']

df['이전등록유형'] = np.select(conditions, values, default='상사이전')

df['중고차시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선', '개인거래']))
).astype(int)
df['유효시장'] = (
    (df['이전등록유형'].isin(['매도', '상사이전', '알선']))
).astype(int)

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\919015417.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['이전등록유형'] = np.select(conditions, values, default='상사이전')
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\919015417.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['중고차시장'] = (
C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\919015417.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['유효시장'] = (

In [60]:
# 기본값 기타연료
df['사용연료'] = '기타'

# 가솔린
df.loc[df['사용연료명'].str.contains('휘발유', na=False), '사용연료'] = '가솔린'

# 디젤
df.loc[df['사용연료명'].str.contains('경유', na=False), '사용연료'] = '디젤'

# 전기
df.loc[df['사용연료명'].str.contains('전기|수소전기', na=False), '사용연료'] = '전기'

# 하이브리드
df.loc[df['사용연료명'].str.contains('하이브리드', na=False), '사용연료'] = '하이브리드'

# LPG
df.loc[df['사용연료명'].str.contains('LPG|엘피지', na=False), '사용연료'] = 'LPG'

C:\Users\24100801\AppData\Local\Temp\ipykernel_13724\1793596827.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['사용연료'] = '기타'

In [61]:
with pd.ExcelWriter('C:/Users/24100801/Desktop/2026년1월전체판매현황_공공데이터.xlsx', engine='xlsxwriter') as writer:
    filt.to_excel(writer, sheet_name='전체데이터')
    pivot_df.to_excel(writer, sheet_name='판매현황_나이성별', index=False)
    pivot_df6.to_excel(writer, sheet_name='판매현황_주행거리', index=False)
    pivot_df5.to_excel(writer, sheet_name='판매현황_취득금액', index=False)
    pivot_df2.to_excel(writer, sheet_name='판매현황_시도', index=False)
    pivot_df8.to_excel(writer, sheet_name='판매현황_시도구군', index=False)